<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="images/favicon.ico" rel="shortcut icon">

<title>item mock</title>

<!-- Load required Bootstrap and BootstrapVue CSS -->
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.21.1/dist/bootstrap-vue.min.css" />

<!-- Load fontawesome -->
<!-- link href="./css/all.css" rel="stylesheet" -->
<!--load all styles -->
<!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
<link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">

<!-- Load polyfills to support older browsers -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
    crossorigin="anonymous"></script>

<!-- Load Vue followed by BootstrapVue -->
<script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@2.21.1/dist/bootstrap-vue.min.js"></script>

<!-- Load the following for BootstrapVueIcons support -->
<script src="https://unpkg.com/bootstrap-vue@2.21.1/dist/bootstrap-vue-icons.min.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

<!-- 各種便利なツール塁です必要なときに随時使用のこと
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-image-lightbox@6.4.0/dist/vue-image-lightbox.min.css">
<script src="https://cdn.jsdelivr.net/npm/vue-image-lightbox@6.4.0/dist/vue-image-lightbox.min.js"></script>
<script src="https://unpkg.com/vue-lazyload/vue-lazyload.js"></script>
<script src="./jsQR.js"></script>
<script src="https://cozmo.github.io/jsQR/jsQR.js"></script>
-->

<style>
    .bg {
        background-color: #e9ecef;
    }

    [v-cloak] {
        display: none;
    }

    thead {
    background-color: rgb(51, 103, 214)
  }

  .table>tbody>tr:nth-child(even) {
    background-color: #dde9fc;
  }

  .table tbody tr:hover td,
  .table tbody tr:hover th {
    background-color: #dee2e6;
  }

  .table thead th {
    border: none;
  }

  .table thead tr {
    color: white;
  }

  .table thead {
    font-family: sans-serif;
  }

    .footer {
        opacity: 0.8;
    }
</style>

<div id="app" v-cloak>
    <b-row class="bg pt-2 pb-2">
        <b-col sm="3" class="h5 mt-2 mt-2"><a href='#'><img src='images/crescom_logo_-_300px.jpg' width='40'
                    class='mr-2'></a>商品入力</b-col>
    </b-row>

    <template>
        <div>
            <b-button v-b-toggle.sidebar-no-header>メニュー</b-button>
            <b-sidebar id="sidebar-no-header" aria-labelledby="sidebar-no-header-title" no-header shadow>
                <template #default="{ hide }">
                    <div class="p-3">
                        <h4 id="sidebar-no-header-title">遷移メニュー</h4>
                        <b-img src="https://free-materials.com/adm/wp-content/uploads/2020/10/logo_07-1024x1024.png"
                            style="width: 100%; height: 50px; margin: 10px 0px;"></b-img>
                        <nav class="mb-3">
                            <b-nav vertical>
                                <b-button variant="primary" block href="mock_customer.html"><i
                                        class="fas fa-building"></i>　得意先
                                </b-button>
                                <b-button variant="primary" block href="mock_item.html"><i class="fas fa-box"></i>　商　品
                                </b-button>
                                <b-button variant="primary" block href="mock_invoice.html"><i
                                        class="fas fa-copy"></i>　請求書</b-button>
                                <b-button variant="primary" block href="mock01_quotaion.html"><i
                                        class="far fa-copy"></i>　見積書</b-button>
                            </b-nav>
                        </nav>
                        <b-button variant="primary" block @click="hide">Close Sidebar</b-button>
                    </div>
                </template>
            </b-sidebar>
        </div>
    </template>

    <b-row class="mt-3">
        <b-col></b-col> <!-- dummy -->
        <!--- 本体　-->
        <b-col cols=10>

            <b-card border-variant="white" class="mb-3 text-center" header="商品入力" header-border-variant="light"
                style="padding: -30px;">
                <b-row>

                    <b-col>
                        <!-- header -->
                        <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="商品名" label-for="itemName">
                            <b-form-input v-model="header.itemName" id="itemName" size="sm"></b-form-input>
                        </b-form-group>
                        <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="単価" label-for="price">
                            <b-form-input v-model="header.price" id="price" size="sm"></b-form-input>
                        </b-form-group>
                        <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="原価率" label-for="costRate">
                            <p class="text-left pl-2" id="costRate">{{header.costRate}}</p>
                        </b-form-group>
                    </b-col>

                    <b-col>
                        <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="単位" label-for="unit">
                            <b-form-select></b-form-select>
                            <!-- <b-form-input v-model="header.unit" id="unit" size="sm"></b-form-input> -->
                        </b-form-group>
                        <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="原価" label-for="cost">
                            <b-form-input v-model="header.cost" id="cost" size="sm"></b-form-input>
                        </b-form-group>
                    </b-col>

                </b-row> <!-- end header -->
            </b-card>

            <!-- 備考欄 -->
            <b-card border-variant="white" class="mb-3 text-center" header="メモ欄" header-border-variant="light">
                <b-form-textarea v-model="header.memo" id="memo" size="sm" type="text" rows="3"></b-form-textarea>
            </b-card>

        </b-col> <!-- 本体 -->

        <b-col>
        </b-col>

    </b-row>

    <b-row class="mb-5"></b-row>
    <b-row class="mb-5"></b-row>
    <b-row class="mb-5"></b-row>

    <!-- 一覧表示 -->
    <b-row class="mt-3">
        <b-col></b-col>
        <b-col cols="10">
            <!-- このボタンで新規ページに切り替える？ -->
            <b-button variant="success">＋新規</b-button>
            <b-card border-variant="white" class="mb-3 text-center" header="商品一覧" header-border-variant="light">
                <b-table responsive="sm" hover small id="itemtable" sort-by="ID" small label="Table Options"
                    :items=items :fields="[
                {  key: 'update', label: ''},
                {  key: 'id', label: 'No.'},
                {  key: 'itemName', label: '商品名' },
                {  key: 'unit',   label: '単位' },
                {  key: 'price',  label: '値段' },
                {  key: 'cost',  label: '原価' },
                {  key: 'costRate', label: '原価率' },
                {  key: 'memo', label: 'メモ' },
                {  key: 'delete', label: '' },
              ]">
                    <template v-slot:cell(update)="data">
                        <b-button variant="info"><i class="fas fa-edit"></i></b-button>
                    </template>
                    <template v-slot:cell(delete)="data">
                        <b-button variant="danger" @click="window.confirm('データを削除します。よろしいですか？')"><i
                                class="fas fa-trash-alt"></i>
                        </b-button>
                    </template>
                </b-table>
            </b-card>
        </b-col>
        <b-col></b-col>
    </b-row>

    <b-row class="mb-5"></b-row>
    <b-row class="mb-5"></b-row>
    <b-row class="mb-5"></b-row>

    <!-- 更新・取消ボタンのフッター -->
    <b-card bg-variant="dark" text-variant="white" class="fixed-bottom footer">
        <div class="d-flex justify-content-end">
            <b-button variant="info" class="mr-3" @click="alert('更新しました')">更新</b-button>
            <b-button variant="danger" @click="window.confirm('変更は反映されません。このページから離れますか？')">取消</b-button>
        </div>
    </b-card>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            header: {
                itemName: '商品名',
                unit: '個',
                price: 100,
                cost: 70,
                costRate: 0.7,
                memo: 'これはテストのためのメモです',
            },
            options: {
                unit: [
                    { value: '台', text: '台' },
                    { value: '個', text: '個' },
                    { value: '本', text: '本' },
                    { value: 'リットル', text: 'リットル' },
                    { value: 'キロ', text: 'キロ' },
                ],
            },
            items: [
                { id: 1, itemName: 'ラジオ', unit: '台', price: 1000, cost: 700, costRate: 0.7, memo: 'これはテストのためのメモです' },
                { id: 2, itemName: '電池', unit: '個', price: 100, cost: 50, costRate: 0.5, memo: 'これはテストのためのメモです' },
                { id: 3, itemName: 'イヤホン', unit: '本', price: 200, cost: 50, costRate: 0.25, memo: 'これはテストのためのメモです' },
                { id: 4, itemName: '鉛筆', unit: '本', price: 20, cost: 5, costRate: 0.25, memo: 'これはテストのためのメモです' },
            ],
            isPrint: false,
        },
    })
</script>

</html>