<html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="images/favicon.ico" rel="shortcut icon">

<title>creacom mock</title>
<!-- Load required Bootstrap and BootstrapVue CSS -->

<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.21.1/dist/bootstrap-vue.min.css" />

<!-- Load fontawesome -->
<!-- link href="./css/all.css" rel="stylesheet" --> <!--load all styles -->
<!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
<link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">

<!-- Load polyfills to support older browsers -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"     crossorigin="anonymous"></script>

<!-- Load Vue followed by BootstrapVue -->
<script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
<script src="https://unpkg.com/bootstrap-vue@2.21.1/dist/bootstrap-vue.min.js"></script>

<!-- Load the following for BootstrapVueIcons support -->
<script src="https://unpkg.com/bootstrap-vue@2.21.1/dist/bootstrap-vue-icons.min.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"      crossorigin="anonymous"></script>

<!-- 各種便利なツール塁です必要なときに随時使用のこと
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-image-lightbox@6.4.0/dist/vue-image-lightbox.min.css">
<script src="https://cdn.jsdelivr.net/npm/vue-image-lightbox@6.4.0/dist/vue-image-lightbox.min.js"></script>
<script src="https://unpkg.com/vue-lazyload/vue-lazyload.js"></script>
<script src="./jsQR.js"></script>
<script src="https://cozmo.github.io/jsQR/jsQR.js"></script>
-->

<style>
  .bg {
    background-color: #e9ecef;
  }
  [v-cloak]{
    display: none;
  }
</style>

<!--   mock up here -->
<div id="app">
  <b-container  class="pt-5">
    <!-- b-row class="justify-content-center" -->
    <b-card
      nobody
      title="ログイン"
      style="max-width: 30rem;"
       class="bg-transparent border-0"
    >
        <!-- div class="h2 text-center">ログイン</div -->
        <b-row>
          <b-col>
            <b-form-group label-cols-sm="4" label-cols-lg="2" label-size="sm" label="user ID" label-for="userID">
              <b-form-input v-model="userID" id="userID" size="sm" type="text"></b-form-input>
            </b-form-group>
            <b-form-group label-cols-sm="4"  label-cols-lg="2" label-size="sm" label="password" label-for="password">
              <b-form-input v-model="password" id="password" size="sm" type="password"></b-form-input>
            </b-form-group>
            <b-button variant="primary" class="text-center" @click="checkUser(userID,password)">ログイン</b-button>
          </b-col>

        </b-row>
    </b-card>
  </b-container>


</div>


<script>
var app=new Vue({
  el: '#app',
  data:{
    userID: '',
    password: '',
    userInfo:[
      {userID: 'monomonosu', password: '01234', role: 'administrator',name: 'モノモノス'},
      {userID: 'ono', password: '01234', role: 'operator',name: 'ガマ仙人'},
      {userID: 'ohira', password: '01234', role: 'administrator',name: '大平'},
    ],
  },
  methods:{
    checkUser: function(userID,password){
        const targetUser = this.userInfo.find((v) => v.userID === userID);
        console.log(targetUser);
        if(targetUser && targetUser.password===password){
          alert(targetUser.role+"権限で"+targetUser.name+ "さんがログインしました")
        }
        else{
          alert("ログインエラー")
        }

    }
  }
})
</script>

</html>
