__pycache__
/migrations
*.db
*.db-journal
app/static/upload/
app/pdfmaker/app/static/pdf/
app/upload/static/upload/
app/static/asset/logo/*
!NotImage.png
app/static/asset/stamp/*
!NotImage.png
app/static/component/customize/
