<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    <link href="images/favicon.ico" rel="shortcut icon">
    -->
    <title>アップロード</title>
    <!-- Load required Bootstrap and BootstrapVue CSS -->

    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.21.1/dist/bootstrap-vue.min.css" />

    <!-- Load fontawesome -->
    <!-- link href="./css/all.css" rel="stylesheet" -->
    <!--load all styles -->
    <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
        crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@2.21.1/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="https://unpkg.com/bootstrap-vue@2.21.1/dist/bootstrap-vue-icons.min.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <!-- 各種便利なツール塁です必要なときに随時使用のこと
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-image-lightbox@6.4.0/dist/vue-image-lightbox.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue-image-lightbox@6.4.0/dist/vue-image-lightbox.min.js"></script>
    <script src="https://unpkg.com/vue-lazyload/vue-lazyload.js"></script>
    <script src="./jsQR.js"></script>
    <script src="https://cozmo.github.io/jsQR/jsQR.js"></script>
    -->

    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
</head>

<body>
    <div id="app" v-cloak>
        <p>csvをインポートしてください。</p>
        <b-card style="max-width: 20rem">
            <form action="upload" class="dropzone" id="my-dropzone">
                <input hidden type="text" name="selected" v-model="selected">
                <input hidden type="file" name="file" id="my-dropzone" multiple>
            </form>
        </b-card>
        <p>インポート先テーブルを選択してください。</p>
        <b-form-select v-model="selected" :options="target"></b-form-select>
        <div class="mt-3">Selected: <strong>{{ selected }}</strong></div>
        <b-button @click="submit();">送信</b-button>

        <p>-------------------------------------------------------</p>
        <p>エクスポートするテーブルを選択してください</p>
        <b-form-select v-model="selected_export.tableName" :options="target"></b-form-select>
        <div class="mt-3">Selected: <strong>{{ selected_export.tableName }}</strong></div>
        <b-button @click="submit_export(selected_export);">エクスポート</b-button>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                selected: null,
                selected_export: { tableName: null },
                target: [
                    { value: null, text: '選択してください' }, { value: "User", text: 'ユーザー' }, { value: "Customer", text: '得意先' }, { value: "Item", text: '商品' },
                    { value: "Invoice", text: '請求書' }, { value: "Invoice_Item", text: '請求書商品' }, { value: "Quotation", text: '見積書' }, { value: "Quotation_Item", text: '見積書商品' },
                    { value: "Memo", text: 'メモ' }, { value: "Unit", text: '単位' }, { value: "Category", text: 'カテゴリー' }, { value: "Maker", text: 'メーカー' },
                ]
            },
            methods: {
                submit: function () {
                    myDropzone.processQueue();
                },
                submit_export: async function (item) {
                    self = this;
                    console.log(item);
                    await axios.post("/csv-export", item)
                        .then(function (response) {
                            console.log(response);
                        });
                },
            }
        })

        Dropzone.options.myDropzone = { // camelized version of the `id`
            dictDefaultMessage: 'ここにファイルをドロップしてね',
            autoProcessQueue: false,
            maxFiles: 1,
            addRemoveLinks: true,
            init: function () {
                myDropzone = this;
                this.on("complete", file => {
                    console.log("complete A file has been added");
                    this.removeFile(file);
                });
            }
        };
    </script>

</body>


</html>