<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
        <link href="images/favicon.ico" rel="shortcut icon">
        -->
    <title>見積書管理</title>
    <!-- Load required Bootstrap and BootstrapVue CSS -->

    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.21.1/dist/bootstrap-vue.min.css" />

    <!-- Load fontawesome -->
    <!-- link href="./css/all.css" rel="stylesheet" -->
    <!--load all styles -->
    <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
        crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@2.21.1/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="https://unpkg.com/bootstrap-vue@2.21.1/dist/bootstrap-vue-icons.min.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <!-- 日付フォーマット -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/ja.min.js"
        integrity="sha512-rElveAU5iG1CzHqi7KbG1T4DQIUCqhitISZ9nqJ2Z4TP0z4Aba64xYhwcBhHQMddRq27/OKbzEFZLOJarNStLg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- VueRouter -->
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <!-- soho caddie component-->
    <script src="static/component/sc-menu.js"></script>
    <script src="static/component/select-modal.js"></script>
</head>

<body>
    <div id="app" v-cloak>
        <b-row class="bg pt-2 pb-2">
            <b-col sm="3" class="h5 mt-2 mt-2"><a href='#'><img src='images/crescom_logo_-_300px.jpg' width='40'
                        class='mr-2'></a>見積書入力</b-col>
        </b-row>

        <!-- サイドバー -->
        <sc-menu></sc-menu>

        <!-- 一覧表示 -->
        <div v-if="pageName=='index'">
            <b-row class="mt-5">
                <b-col></b-col>
                <b-col cols="10">
                    <router-link to="?page=store">
                        <b-button variant="success" @click="QuotationAddRow();">＋新規作成</b-button>
                    </router-link>
                    <b-card border-variant="white" class="mb-3 text-center" header="見積書一覧"
                        header-border-variant="light">
                        <b-table responsive hover small id="quotationtable" sort-by="ID" small label="Table Options"
                            :items=quotations :fields="[
                          {  key: 'update', label: '' },
                          {  key: 'id', label: 'No.' },
                          {  key: 'applyNumber', label: '見積番号' },
                          {  key: 'applyDate', label: '日付' },
                          {  key: 'expiry', label: '見積有効期限' },
                          {  key: 'title', label: '件名' },
                          {  key: 'memo', label: 'メモ' },
                          {  key: 'delete', label: '' },
                        ]" :tbody-tr-class="rowClass">
                            <template v-slot:cell(update)="data">
                                <router-link to="?page=show">
                                    <b-button variant="info" @click="selectQuotation(data.item);"><i
                                            class="fas fa-edit"></i>
                                    </b-button>
                                </router-link>
                            </template>
                            <template v-slot:cell(applyDate)="data">
                                <p class="text-left pl-2" id="applyDate">{{formatDate(data.item.applyDate)}}</p>
                            </template>
                            <template v-slot:cell(expiry)="data">
                                <p class="text-left pl-2" id="expiry">{{formatDate(data.item.expiry)}}</p>
                            </template>
                            <template v-slot:cell(delete)="data">
                                <b-button variant="danger" @click="modalShow(data.item,'deleteModal');">
                                    <i class="fas fa-trash-alt"></i>
                                </b-button>
                            </template>
                        </b-table>
                    </b-card>
                </b-col>
                <b-col></b-col>
            </b-row>

            <!-- 削除モーダル -->
            <select-modal modal-name='deleteModal' modal-message='削除しますか？' @selected="deleteModalProcess($event);" />

        </div>

        <!-- 新規作成・詳細(更新)ページ -->
        <div v-if="pageName=='show' || pageName=='store'">
            <b-row class="mt-5">
                <b-col></b-col>
                <!--- 本体 -->
                <b-col cols=10>
                    <router-link to="?page=index">
                        <b-button @click="getQuotations();">＜</b-button>
                    </router-link>
                    <b-card border-variant="white" class="mb-3 text-center" header="見積書入力"
                        header-border-variant="light">
                        <b-row>
                            <b-col>

                                <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="顧客ID"
                                    label-for="customerId">
                                    <p class="text-left pl-2" id="customerId">{{quotation.customerId}}</p>
                                </b-form-group>

                                <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="顧客名"
                                    label-for="customer" class="customer">
                                    <b-form-input v-model="quotation.customerName" id="customerName" size="sm"
                                        @dblclick="$bvModal.show('customer-modal')"
                                        v-on:keydown.enter="onKeyDownCustomer">
                                    </b-form-input>
                                    <!-- 得意先一覧モーダル -->
                                    <b-modal size="xl" id="customer-modal">
                                        <p>顧客を選択してください</p>
                                        <b-form-group label-cols="2" label-size="sm" label-align="center" label="検索"
                                            label-for="searchCustomerWord">
                                            <b-form-input v-model="searchCustomerWord" id="searchCustomerWord"
                                                size="sm">
                                            </b-form-input>
                                        </b-form-group>
                                        <b-table hover striped small sort-by="ID" id="customer-table"
                                            :items="searchCustomers" @row-clicked="customerSelect" label="Table Options"
                                            :fields="[
                                  {  key: 'id', label: 'No.' },
                                  {  key: 'customerName', label: '顧客名' },
                                  {  key: 'postNum',   label: '郵便番号' },
                                  {  key: 'address',  label: '住所' },
                                  {  key: 'telNumber',  label: '電話番号' },
                                  {  key: 'representative', label: '代表者名' },
                                  {  key: 'memo', label: 'メモ' },
                                ]"></b-table>
                                    </b-modal>
                                </b-form-group>

                                <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="日付"
                                    label-for="applyDate">
                                    <b-form-input v-model="quotation.applyDate" id="applyDate" size="sm" type="date">
                                    </b-form-input>
                                </b-form-group>
                                <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="見積有効期限"
                                    label-for="expiry">
                                    <b-form-input v-model="quotation.expiry" id="expiry" size="sm" type="date">
                                    </b-form-input>
                                </b-form-group>
                            </b-col>
                            <b-col>
                                <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="見積番号"
                                    label-for="applyNumber">
                                    <p class="text-left pl-2" id="applyNumber">{{quotation.applyNumber}}</p>
                                </b-form-group>
                                <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="件名"
                                    label-for="title">
                                    <b-form-input v-model="quotation.title" id="title" size="sm"></b-form-input>
                                </b-form-group>
                                <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="メモ"
                                    label-for="メモ">
                                    <b-form-textarea v-model="quotation.memo" size="sm" rows="4"></b-form-textarea>
                                </b-form-group>
                            </b-col>
                        </b-row>
                    </b-card>

                    <!--  table list & edit -->
                    <b-table hover caption-top small id="quotation_items_table" primary-key="id" small
                        label="Table Options" :items=quotation.quotation_items :fields="[
                          {  key: 'id', label: 'ID', class:'text-center' },
                          {  key: 'itemId', label: '商品ID' ,sortable: true},
                          {  key: 'itemName', label: '商品名' ,sortable: true},
                          {  key: 'count',   label: '個数' },
                          {  key: 'unit',   label: '単位' },
                          {  key: 'price', label: '値段' },
                          {  key: 'amount', label: '金額' },
                          {  key: 'detail', label: '詳細',class:'text-center' },
                          {  key: 'delete', label: '削除',class:'text-center' },
                        ]">
                        <template v-slot:cell(itemName)="data">
                            <b-form-textarea v-model="data.item.itemName" size="sm" rows="1"
                                @dblclick="showModalItems(); selectQuotationItem(data.item);"
                                v-on:keydown.enter="selectQuotationItem(data.item);onKeyDownItem();">
                            </b-form-textarea>

                            <b-modal size="xl" ref="items-modal" title="商品一覧">
                                <b-row>
                                    <b-col>
                                    </b-col>
                                    <b-col>
                                        <b-row class="mb-1">
                                            <b-col cols="4" class="text-center">
                                                <label for="searchItemWord"><i class="fas fa-search"></i></label>
                                            </b-col>
                                            <b-col cols="8">
                                                <b-form-input v-model="searchItemWord" id="searchItemWord" size="sm">
                                                </b-form-input>
                                            </b-col>
                                        </b-row>
                                        <b-row class="mb-1">
                                            <b-col cols="4" class="text-center">
                                                <label for="searchItemSelectCategory">カテゴリ</label>
                                            </b-col>
                                            <b-col cols="8">
                                                <b-form-select v-model="searchItemSelectCategory" :options="categories"
                                                    size="sm">
                                                </b-form-select>
                                            </b-col>
                                        </b-row>
                                        <b-row class="mb-2">
                                            <b-col cols="4" class="text-center">
                                                <label for="searchItemSelectMaker">メーカー</label>
                                            </b-col>
                                            <b-col cols="8">
                                                <b-form-select v-model="searchItemSelectMaker" :options="makers"
                                                    size="sm">
                                                </b-form-select>
                                            </b-col>
                                        </b-row>
                                    </b-col>
                                </b-row>
                                <b-table hover striped small sort-by="ID" id="items-table" :items="searchItems"
                                    @row-clicked="itemSelect" label="Table Options" :fields="[
                                  {  key: 'id', label: 'No.' },
                                  {  key: 'itemName', label: '商品名' },
                                  {  key: 'unit',   label: '単位' },
                                  {  key: 'basePrice',  label: '単価' },
                                  {  key: 'baseCost',  label: '原価' },
                                  {  key: 'memo', label: 'メモ' },
                                ]"></b-table>
                            </b-modal>

                        </template>
                        <template v-slot:cell(count)="data">
                            <b-form-input v-model="data.item.count" type="number" size="sm"></b-form-input>
                        </template>
                        <template v-slot:cell(unit)="data">
                            <b-form-select v-model="data.item.unit" :options="units" size="sm"></b-form-select>
                        </template>
                        <template v-slot:cell(price)="data">
                            <b-form-input v-model="data.item.price" type="number" size="sm"></b-form-input>
                        </template>
                        <template v-slot:cell(amount)="data">
                            <p class="text-right">{{data.item.count*data.item.price|nf}}</p>
                        </template>

                        <template v-slot:cell(detail)="data">
                            <b-form-checkbox @change="data.toggleDetails"></b-form-checkbox>
                        </template>

                        <template #row-details="data">
                            <b-row>
                                <b-col cols=1></b-col>
                                <b-col cols=4>
                                    <b-form-group label-cols="4" label-cols-lg="4" label-size="sm" label="原価:"
                                        label-for="cost">
                                        <b-form-input v-model="data.item.cost" id="cost" size="sm">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col>
                                    <p class="mt-1">原価率: {{data.item.cost/data.item.price}}</p>
                                </b-col>
                            </b-row>
                        </template>

                        <!-- <template #table-colgroup="data">
                            <col v-for="field in data.fields" :key="field.key" :style="{ width:
                          field.key == 'id' ? '2%':
                          field.key == 'detail' ? '1%':
                          field.key == 'hinmei' ? '10%': '5%'}">
                        </template> -->

                        <template v-slot:cell(delete)="data">
                            <b-button variant="danger" class="fas fa-trash-alt" @click="deleteQuotationItem(data.item)">
                            </b-button>
                        </template>

                    </b-table>

                    <!-- 商品項目を追加するプラスボタン -->
                    <b-row class="d-flex justify-content-end" id="item_add">
                        <b-col cols="16" md="auto">
                            <b-button pill variant="primary" @click="addRowQuotationItem();">✙</b-button>
                        </b-col>
                    </b-row>

                    <div class="mt-5"></div>

                    <b-row>
                        <b-col></b-col>
                        <b-col>
                            <b-table-simple bordered>
                                <b-form-checkbox v-model="quotation.isTaxExp">外税</b-form-checkbox>
                                <b-tr>
                                    <b-td variant="light" class="text-right">合計金額</b-td>
                                    <b-td v-if="quotation.isTaxExp" class="text-right">{{sum*1.1|nf}}</b-td>
                                    <b-td v-else class="text-right">{{sum|nf}}</b-td>
                                </b-tr>
                                <b-tr>
                                    <b-td variant="light" class="text-right">内消費税</b-td>
                                    <b-td class="text-right">{{parseInt(sum*0.1)|nf}}</b-td>
                                </b-tr>
                            </b-table-simple>
                        </b-col>
                    </b-row>

                    <!-- 備考欄 -->
                    <b-card border-variant="white" class="mb-3 text-center" header="備考欄" header-border-variant="light">
                        <b-form-textarea v-model="quotation.remarks" id="remarks" size="sm" type="text" rows="3">
                        </b-form-textarea>
                    </b-card>

                </b-col> <!-- 本体 -->
                <b-col></b-col>

            </b-row>

        </div>

        <!-- 空行 -->
        <b-row class="mb-5"></b-row>
        <b-row class="mb-5"></b-row>
        <b-row class="mb-5"></b-row>

        <!-- 更新・取消ボタンのフッター -->
        <b-card v-if="pageName=='show' || pageName=='store'" bg-variant="dark" text-variant="white"
            class="fixed-bottom footer">
            <div class="d-flex justify-content-end">
                <b-button pill variant="info" class="mr-3" @click="modalShow(quotation,'upsertModal');"
                    id="showUpsertModal">適用
                </b-button>
                <b-button pill variant="info" @click="alert('印刷しました。')"><i class="fas fa-print"></i></b-button>
            </div>
        </b-card>

        <!-- 保存モーダル -->
        <select-modal modal-name='upsertModal' modal-message='保存しますか？' @selected="upsertModalProcess($event);" />

    </div>

    <script>
        Vue.filter('nf', function (val) {
            return val.toLocaleString();
        });

        const router = new VueRouter({
        })

        var app = new Vue({
            el: '#app',
            data: {
                searchItemWord: '',
                searchItemSelectCategory: '',
                searchItemSelectMaker: '',
                searchCustomerWord: '',
                quotations: [],               //全件quotation
                quotation: [],                //選択中のquotation
                quotationItem: [],            //選択中のquotationItem
                customers: [],
                items: [],
                units: [],
                categories: [],
                makers: [],
            },
            methods: {
                // ---Quotations---
                getQuotations: async function () {
                    self = this;
                    await axios.get("/quotations")
                        .then(function (response) {
                            console.log(response);
                            self.quotations = response.data;
                        });
                },
                bulkUpsert(item) {
                    if (!item.id) {
                        this.insertQuotation(item);
                    }
                    else {
                        this.updateQuotation(item);
                    }
                },
                insertQuotation: async function (item) {
                    self = this;
                    await axios.post("/quotation", item)
                        .then(function (response) {
                            Vue.set(self.quotation, 'id', response.data.id)
                            self.getQuotations();
                            self.quotation.isInsert = false;
                        });
                },
                updateQuotation: async function (item) {
                    self = this;
                    await axios.put("/quotation/" + item.id, item)
                        .then(function (response) {
                            self.getQuotations();
                            console.log(response);
                        });
                },
                // axios.deleteは使わず、isDeleteをTrueに
                deleteQuotation: async function (item) {
                    self = this;
                    await axios.put("/quotation_delete/" + item.id)
                        .then(function (response) {
                            console.log(response);
                            self.quotation = '';
                            self.getQuotations();
                        });
                },
                QuotationAddRow: function () {
                    self = this;
                    self.quotations.push({
                        isInsert: true,
                        quotation_items: [{}, {}, {}, {}, {}],
                    });
                    self.quotation = self.quotations.slice(-1)[0];
                    localStorage.setItem('quotation', JSON.stringify(self.quotation));
                    Vue.set(self.quotation, 'isTaxExp', true);
                },
                selectQuotation: function (item) {
                    this.quotation = item;
                    console.log(this.quotation);
                    localStorage.setItem('quotation', JSON.stringify(item))
                },
                selectQuotationItem: function (item) {
                    this.quotationItem = item;
                    console.log(this.quotationItem);
                },
                getQuotation: async function (item) {
                    self = this;
                    await axios.get("/quotation/" + item.id)
                        .then(function (response) {
                            console.log(response);
                            for (const [key, value] of Object.entries(response.data)) {
                                console.log(key, value);
                                self.$set(self.quotation, key, value);
                            }
                        });
                },
                deleteQuotationItem: async function (item) {
                    self = this;
                    if (item.id) {
                        await axios.delete("/quotation_item/" + item.id)
                            .then(function (response) {
                                console.log(response);
                                self.getQuotation(self.quotation);
                            });
                    }
                    else {
                        let indexNum = this.quotation.quotation_items.indexOf(item);
                        this.quotation.quotation_items.splice(indexNum, 1);
                    }
                },
                addRowQuotationItem: function () {
                    if (this.quotation.length === 0) {
                        alert('見積書を選択してください');
                        return;
                    }
                    this.quotation.quotation_items.push({
                        quotationId: this.quotation.id
                    })
                },
                getCustomers: async function () {
                    self = this;
                    await axios.get("/customers")
                        .then(function (response) {
                            console.log(response);
                            self.customers = response.data;
                        });
                },
                getItems: async function () {
                    self = this;
                    await axios.get("/items")
                        .then(function (response) {
                            console.log(response);
                            self.items = response.data;
                        });
                },
                rowClass: function (item, type) {
                    if (!item || type !== 'row') return
                    if (!item.id) return "d-none";
                },
                getUnits: async function () {
                    self = this;
                    await axios.get("/units")
                        .then(function (response) {
                            console.log(response);
                            self.units = response.data.map(item => item['unitName']);
                        });
                },
                getCategories: async function () {
                    self = this;
                    await axios.get("/categories")
                        .then(function (response) {
                            console.log(response);
                            self.categories = response.data.map(item => item['categoryName']);
                            self.categories.unshift('')
                        });
                },
                getMakers: async function () {
                    self = this;
                    await axios.get("/makers")
                        .then(function (response) {
                            console.log(response);
                            self.makers = response.data.map(item => item['makerName']);
                            self.makers.unshift('')
                        });
                },
                modalShow: function (item, modalName) {
                    this.quotation = item;
                    console.log(this.quotation);
                    this.$bvModal.show(modalName);
                },
                deleteModalProcess(result) {
                    this.$bvModal.hide('deleteModal');
                    if (result === true) {
                        this.deleteQuotation(this.quotation);
                    }
                },
                upsertModalProcess(result) {
                    this.$bvModal.hide('upsertModal');
                    if (result === true) {
                        this.bulkUpsert(this.quotation);
                    }
                },
                // 顧客名モーダル選択時
                customerSelect(record) {
                    Vue.set(self.quotation, 'customerId', record.id);
                    Vue.set(self.quotation, 'customerName', record.customerName);
                    this.$bvModal.hide("customer-modal");
                },
                // 顧客名入力→Enter
                onKeyDownCustomer(record) {
                    console.log(record);
                    Vue.set(self.quotation, 'customerId', null);
                },
                // 商品名モーダル選択時
                itemSelect(record) {
                    Vue.set(self.quotationItem, 'itemId', record.id);
                    Vue.set(self.quotationItem, 'itemName', record.itemName);
                    Vue.set(self.quotationItem, 'unit', record.unit);
                    Vue.set(self.quotationItem, 'price', record.basePrice);
                    Vue.set(self.quotationItem, 'cost', record.baseCost);
                    this.$refs['items-modal'].hide()
                },
                // 商品名入力→Enter
                onKeyDownItem(record) {
                    console.log(record);
                    Vue.set(self.quotationItem, 'itemId', null);
                },
                // 商品名モーダル表示 モーダルのダブり表示防止
                showModalItems() {
                    this.$refs['items-modal'].show()
                },
                formatDate(date) {
                    if (!!date) return moment(date).format("YYYY年MM月DD日");
                },
                formatDateTime(date) {
                    if (!!datetime) return moment(datetime).format("YYYY年MM月DD日 HH:mm:ss")
                }
            },
            mounted: function () {
                this.quotation = JSON.parse(localStorage.getItem('quotation'));
                this.getQuotations();
                this.getCustomers();
                this.getItems();
                this.getUnits();
                this.getCategories();
                this.getMakers();
            },
            router,
            computed: {
                pageName() {
                    if (this.$route.query.page == undefined) return 'index';
                    return this.$route.query.page;
                },
                // 逐次、数量＊単価の合計をする
                sum: function () {
                    if (typeof (this.quotation.quotation_items) == 'undefined') { return 0 } //初期立ち上がりでのエラー抑制
                    return this.quotation.quotation_items.map(quotation_item => parseInt(quotation_item.count * quotation_item.price)).reduce(function (a, b) { return a + b }, 0);
                },
                // 得意先選択モーダルの検索機能
                searchCustomers: function () {
                    return this.customers.filter(customer => {
                        return customer.customerName.includes(this.searchCustomerWord) || String(customer.id).includes(this.searchCustomerWord);
                    })
                },
                // 商品選択モーダルの検索機能
                searchItems: function () {
                    return this.items.filter(item => {
                        return (searchFilter(item.itemName, this.searchItemWord) ||
                            searchFilter(item.itemCode, this.searchItemWord) ||
                            searchFilter(item.model, this.searchItemWord)) &&
                            searchFilter(item.category, this.searchItemSelectCategory) &&
                            searchFilter(item.maker, this.searchItemSelectMaker);
                    });
                },
            },
        })

        function searchFilter(searchTarget, searchWord) {
            if ((searchTarget === null && searchWord === '') || (searchTarget !== null && searchWord === '')) {
                return true;
            }
            if (searchTarget === null && searchWord !== '') {
                return false;
            }
            return searchTarget.includes(searchWord);
        };

    </script>

</body>

</html>