<% extends "head.html" %>
  <% block content %>

    <!-- chart.js -->
    <script src="../static//library/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/danfojs@1.1.0/lib/bundle.min.js"></script>

    <style>
      .card-header {
        background-color: #ccecf1;
        font-size: 18px;
      }
    </style>

    <div id="app" v-clock>
      <div v-if="pageName=='index'">
        <b-card class="fixed-top header" style="background: rgba(255,255,255,0.5);">
          <b-row>
            <b-col></b-col>
            <b-col cols="11">
              <b-row>
                <b-col>
                </b-col>
                <!-- サイドバー -->
                <b-col class="text-right">
                  <sc-menu v-if="modeName!='mw'"></sc-menu>
                </b-col>
              </b-row>
            </b-col>
            <b-col></b-col>
          </b-row>
        </b-card>

        <!-- 空行 -->
        <b-row class="mb-5"></b-row>
        <b-row class="mb-5"></b-row>

        <div>
          <b-row class="mt-1">
            <b-col></b-col>
            <b-col cols="11">
              <b-card border-variant="white" class="mb-3 text-center" header="月別売上推移表" header-border-variant="light">
                <b-row>
                  <b-col>
                    <b-form-input v-model="year" id="year" size="sm" placeholder="年">
                    </b-form-input>
                  </b-col>
                  <b-col>
                    <b-form-input v-model="month" id="month" size="sm" placeholder="期首">
                    </b-form-input>
                  </b-col>
                  <b-col>
                    <b-button variant="primary" size="sm" @click="getAchievements(year,month);">検索</b-button>
                  </b-col>
                </b-row>
                <b-row>
                  <p class="mr-3"> ○○○○年度 ○○月～○○月 </p>
                </b-row>
                <b-table responsive hover small id="invocestable" sort-by="ID" small label="Table Options"
                  :items=achievements :fields="[
                          {  key: 'id', thClass: 'd-none', tdClass: 'd-none' },
                          {  key: '', label: '当期', thClass: 'text-center', tdClass: 'text-center' },
                          {  key: 'applyNumber', label: '請求番号', thClass: 'text-center', tdClass: 'text-center' },
                          {  key: '', label: '当期累計', thClass: 'text-center', tdClass: 'text-center' },
                          {  key: '', label: '粗利額', thClass: 'text-center', tdClass: 'text-center' },
                          {  key: '', label: '粗利率', thClass: 'text-center', tdClass: 'text-center' },
                        ]">
                </b-table>
              </b-card>
            </b-col>
            <b-col></b-col>
          </b-row>
        </div>
      </div>

    </div>

    <script>
      const router = new VueRouter({
      })
      var app = new Vue({
        el: '#app',
        router,
        data: {
          achievements: [],
          year: null,
          month: null,
        },
        methods: {
          getAchievements: async function (year = null, month = null) {
            self = this;
            url = '/v1/achievements'
            await axios.get(url, {
              params: {
                year: year,
                month: month,
              }
            })
              .then(function (response) {
                console.log(response);
                self.achievements = response.data;
              });
          },
        },
        mounted: function () {
          document.querySelector('title').textContent = '請求実績';
          this.getAchievements();
        },
        computed: {
          pageName() {
            if (this.$route.query.page == undefined) return 'index';
            return this.$route.query.page;
          },
          modeName() {
            return localStorage.getItem('wMode');
          },
        }
      });
    </script>

    <% endblock %>