<% extends "head_min.html" %>
  <% block content %>

    <!-- danfo.js -->
    <script src="https://cdn.jsdelivr.net/npm/danfojs@1.1.0/lib/bundle.min.js"></script>

    <style>
      .card-header {
        background-color: #ccecf1;
        font-size: 18px;
      }
    </style>

    <div id="app" v-clock>
      <div v-if="pageName=='index'">
        <b-card class="fixed-top header" style="background: rgba(255,255,255,0.5);">
          <b-row>
            <b-col></b-col>
            <b-col cols="11">
              <b-row>
                <b-col>
                </b-col>
                <!-- サイドバー -->
                <b-col class="text-right">
                  <sc-menu v-if="modeName!='mw'"></sc-menu>
                </b-col>
              </b-row>
            </b-col>
            <b-col></b-col>
          </b-row>
        </b-card>

        <!-- 空行 -->
        <b-row class="mb-5"></b-row>
        <b-row class="mb-5"></b-row>

        <div>
          <b-row class="mt-1">
            <b-col></b-col>
            <b-col cols="11">
              <b-card border-variant="white" class="mb-3 text-center" header="月別売上推移表" header-border-variant="light">
                <b-row>
                  <b-col>
                    <b-form-input v-model="year" id="year" size="sm" placeholder="年">
                    </b-form-input>
                  </b-col>
                  <b-col>
                    <b-form-input v-model="month" id="month" size="sm" placeholder="期首">
                    </b-form-input>
                  </b-col>
                  <b-col>
                    <b-button variant="primary" size="sm" @click="getAchievements(year,month);">検索</b-button>
                  </b-col>
                </b-row>
                <b-row>
                  <p class="mr-3"> {{this.year}}年度
                    {{this.year}}年{{this.month}}月～{{this.afterYear}}年{{this.afterMonth}}月</p>
                </b-row>
                <b-table responsive hover small id="invocestable" sort-by="ID" small label="Table Options"
                  :items=achievements :fields="[
                          {  key: 'id', thClass: 'd-none', tdClass: 'd-none' },
                          {  key: 'applyDate', label: '当期', thClass: 'text-center', tdClass: 'text-center' },
                          {  key: 'monthlySales_sum', label: '当期累計', thClass: 'text-center', tdClass: 'text-center' },
                          {  key: 'monthlyProfit_sum', label: '粗利額', thClass: 'text-center', tdClass: 'text-center' },
                          {  key: 'monthlyCostRate', label: '粗利率', thClass: 'text-center', tdClass: 'text-center' },
                        ]">
                  <template v-slot:cell(monthlyCostRate)="data">
                    {{monthlyCostRate(data.item.monthlyProfit_sum,data.item.monthlySales_sum)}}%
                  </template>
                </b-table>
              </b-card>
              <div id="achievement-chart"></div>
            </b-col>
            <b-col></b-col>
          </b-row>
        </div>
      </div>

    </div>

    <script>
      const router = new VueRouter({
      })
      var app = new Vue({
        el: '#app',
        router,
        data: {
          achievements: [],
          year: null,
          month: null,
        },
        methods: {
          getAchievements: async function (year = null, month = null) {
            self = this;
            url = '/v1/achievements-group'
            let mergedJson;
            await axios.get(url, {
              params: {
                year: year,
                month: month,
                isTax: 1,
              }
            })
              .then(function (response) {
                console.log(response);
                mergedJson = response.data;
                // 原価率計算
                // let achievements = self.achievements;
                // achievements.map(achieve => {
                //   achieve['monthlyCostRate'] = Math.round(achieve['monthlyProfit'] / achieve['monthlySales'] * 100);
                // });
                // self.achievements = achievements;
              });
            await axios.get(url, {
              params: {
                year: year,
                month: month,
                isTax: 0,
              }
            })
              .then(function (response) {
                console.log(response);
                response.data.map(d => mergedJson.push(d));
                console.log(mergedJson);
              });
            df = new dfd.DataFrame(mergedJson)
            if (mergedJson.length !== 0)
              df = df.groupby(['applyDate']).sum();
            self.achievements = dfd.toJSON(df);
            df.print();
            if (df['applyDate'] !== undefined) {
              df.setIndex({ index: df['applyDate'].values, inplace: true })
              df.drop({ columns: ['applyDate'], inplace: true })
            }
            df.plot("achievement-chart").bar({ columns: ["monthlyProfit_sum", "monthlySales_sum"] })
          },
          monthlyCostRate: function (monthlyProfit, monthlySales) {
            return Math.round(monthlyProfit / monthlySales * 100);
          },
        },
        mounted: function () {
          document.querySelector('title').textContent = '売上実績';
          // 今月を含めた１年分のデータ取得のため
          let today = new Date();
          // 月はインデックス
          if (today.getMonth() !== 12 - 1) {
            this.year = today.getFullYear() - 1;
            this.month = today.getMonth() + 2;
          }
          else {
            this.year = today.getFullYear();
            this.month = 1
          }
          this.getAchievements(this.year, this.month);
        },
        computed: {
          pageName() {
            if (this.$route.query.page == undefined) return 'index';
            return this.$route.query.page;
          },
          modeName() {
            return localStorage.getItem('wMode');
          },
          afterYear() {
            if (this.year === undefined) return null;
            if (this.month == 1) return this.year;
            return Number(this.year) + 1;
          },
          afterMonth() {
            if (this.month === '') return null;
            if (this.month == 1) return 12;
            return Number(this.month) + 11 - 12;
          }
        }
      });
    </script>

    <% endblock %>