<% extends "head.html" %>
    <% block content %>
        <style>
            .td-postNumber {
                width: 80px;
            }

            .td-telNumber {
                width: 120px;
            }

            /* ----- ヘッダー追従 ----- */
            #global-nav {
                width: 100%;
                z-index: 1;
            }

            #global-nav div {
                background-color: rgba(255, 255, 255, 0.4);
            }

            #global-nav.m_fixed {
                left: 0;
                position: fixed;
                top: 0;
            }

            #global-nav .inner {
                padding-bottom: 0;
                padding-top: 0;
                margin: 0 auto;
                max-width: 100%;
                padding: 80px 0;
                width: 768px;
            }

            .global-list {
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;
            }

            .global-item {
                border-left: 1px solid #fff;
                width: 20%;
            }

            .global-item:last-child {
                border-right: 1px solid #fff;
                margin-right: 0;
            }

            .global-item a {
                background: #16244e;
                color: #fff;
                display: block;
                line-height: 50px;
                text-align: center;
                text-decoration: none;
                opacity: 0.5;
            }
        </style>
        <div id="app" v-cloak>
            <b-row>
                <b-col></b-col>
                <b-col cols="10">
                    <b-row class="bg pt-2 pb-2">
                        <b-col class="h5 mt-3">得意先入力</b-col>
                        <b-col class="text-right mr-5 mt-3">
                            <!-- サイドバー -->
                            <sc-menu v-if="modeName!='mw'"></sc-menu>
                        </b-col>
                    </b-row>
                </b-col>
                <b-col></b-col>
            </b-row>
            <nav id="global-nav">
                <b-card v-if="pageName=='index'">
                    <b-row>
                        <b-col></b-col>
                        <b-col cols="10">
                            <router-link to="?page=store">
                                <b-button pill variant="success" class="mr-3" @click="CustomerAddRow();">＋新規作成
                                </b-button>
                            </router-link>
                        </b-col>
                        <b-col></b-col>
                    </b-row>
                </b-card>
            </nav>

            <!-- 一覧表示 -->
            <div v-if="pageName=='index'">
                <b-row class="mt-1">
                    <b-col></b-col>
                    <b-col cols="10">
                        <b-card border-variant="white" class="mb-3 text-center" header="得意先一覧"
                            header-border-variant="light">
                            <b-form-checkbox v-model="isHideOption">表示しないオプションがOFFのもののみ表示</b-form-checkbox>
                            <b-table responsive hover small id="customertable" sort-by="ID" small label="Table Options"
                                :items=customersIndicateIndex :fields="[
                      {  key: 'update', label: '' },
                      {  key: 'id', label: 'No.' },
                      {  key: 'customerName', label: '得意先名' },
                      {  key: 'postNumber', label: '郵便番号', tdClass:'td-postNumber' },
                      {  key: 'address', label: '住所' },
                      {  key: 'telNumber', label: '電話番号', tdClass:'td-telNumber' },
                      {  key: 'memo', label: 'メモ' },
                      {  key: 'delete', label: '' },
                    ]" :tbody-tr-class="rowClass">
                                <template v-slot:cell(update)="data">
                                    <router-link to="?page=show">
                                        <b-button variant="info" @click="selectCustomer(data.item);"><i
                                                class="fas fa-edit"></i>
                                        </b-button>
                                    </router-link>
                                </template>
                                <template v-slot:cell(delete)="data">
                                    <b-button variant="danger" @click="modalShow(data.item,'deleteModal');">
                                        <i class="fas fa-trash-alt"></i>
                                    </b-button>
                                </template>
                            </b-table>
                        </b-card>
                    </b-col>
                    <b-col></b-col>
                </b-row>
                <!-- 削除モーダル -->
                <select-modal modal-name='deleteModal' modal-message='削除しますか？'
                    @selected="deleteModalProcess($event);" />
            </div>

            <!-- 新規作成・詳細(更新)ページ -->
            <div v-if="pageName=='show' || pageName=='store'">
                <b-row class="mt-5">
                    <b-col></b-col>
                    <!--- 本体 -->
                    <b-col cols=10>
                        <router-link to="?page=index">
                            <b-button @click="getCustomers();">＜</b-button>
                        </router-link>
                        <b-card border-variant="white" class="mb-3 text-center" header="得意先入力"
                            header-border-variant="light">
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="得意先名"
                                        label-for="customerName">
                                        <b-form-input v-model="customer.customerName" id="customerName" size="sm">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="敬称"
                                        label-for="honorificTitle">
                                        <b-form-input v-model="customer.honorificTitle" id="honorificTitle" size="sm">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="部署"
                                        label-for="department">
                                        <b-form-input v-model="customer.department" id="department" size="sm">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="郵便番号"
                                        label-for="postNumber">
                                        <b-form-input v-model="customer.postNumber" id="postNumber" size="sm"
                                            :formatter="formatter_postNum">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="住所1"
                                        label-for="address">
                                        <b-form-input v-model="customer.address" id="address" size="sm">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="住所2"
                                        label-for="address">
                                        <b-form-input v-model="customer.addressSub" id="address" size="sm">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="電話番号"
                                        label-for="telNumber">
                                        <b-form-input v-model="customer.telNumber" id="telNumber" size="sm">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="FAX番号"
                                        label-for="faxNumber">
                                        <b-form-input v-model="customer.faxNumber" id="faxNumber" size="sm">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="ホームページURL"
                                        label-for="url">
                                        <b-form-input v-model="customer.url" id="url" size="sm">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="email"
                                        label-for="email">
                                        <b-form-input v-model="customer.email" id="email" size="sm">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="代表者名"
                                        label-for="representative">
                                        <b-form-input v-model="customer.representative" id="representative" size="sm">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="担当者"
                                        label-for="manager">
                                        <b-form-input v-model="customer.manager" id="manager" size="sm">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="お客様区分"
                                        label-for="customerCategory">
                                        <b-form-radio-group required v-if="" v-model="customer.customerCategory"
                                            id="customerCategory" :options="[
                                            {  text: '法人', value: 'corporation' },
                                            {  text: '個人', value: 'individual' },
                                            ]"></b-form-radio-group>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="表示しない"
                                        label-for="isHide">
                                        <b-form-checkbox v-model="customer.isHide"></b-form-checkbox>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="メモ"
                                        label-for="memo">
                                        <b-form-textarea v-model="customer.memo" size="sm" rows="4">
                                        </b-form-textarea>
                                    </b-form-group>
                                </b-col>
                                <b-col sm></b-col>
                            </b-row>
                        </b-card>

                    </b-col> <!-- 本体 -->
                    <b-col></b-col>

                </b-row>

            </div>

            <!-- 空行 -->
            <b-row class="mb-5"></b-row>
            <b-row class="mb-5"></b-row>
            <b-row class="mb-5"></b-row>

            <!-- 更新・取消ボタンのフッター -->
            <b-card v-if="pageName=='show' || pageName=='store'" bg-variant="dark" text-variant="white"
                class="fixed-bottom footer">
                <div class="d-flex justify-content-end">
                    <b-button pill variant="info" class="mr-3" @click="modalShow(customer,'upsertModal');"
                        id="showUpsertModal">適用
                    </b-button>
                    <b-button pill variant="info" @click="alert('印刷しました。')"><i class="fas fa-print"></i></b-button>
                </div>
            </b-card>

            <!-- 保存モーダル -->
            <select-modal modal-name='upsertModal' modal-message='保存しますか？' @selected="upsertModalProcess($event);" />

        </div>

        <script>
            const router = new VueRouter({
            })

            var app = new Vue({
                el: '#app',
                data: {
                    customers: [],               //全件customer
                    customer: [],                //選択中のcustomer
                    isHideOption: false,            // trueの時、customer.isHide=falseのもののみindexに表示
                },
                methods: {
                    // ---Customers---
                    getCustomers: async function () {
                        self = this;
                        await axios.get("/customers")
                            .then(function (response) {
                                console.log(response);
                                self.customers = response.data;
                            });
                    },
                    bulkUpsert(item) {
                        if (!item.id) {
                            this.insertCustomer(item);
                        }
                        else {
                            this.updateCustomer(item);
                        }
                    },
                    insertCustomer: async function (item) {
                        self = this;
                        await axios.post("/customer", item)
                            .then(function (response) {
                                Vue.set(self.customer, 'id', response.data.id)
                                self.getCustomers();
                                self.customer.isInsert = false;
                            });
                    },
                    updateCustomer: async function (item) {
                        self = this;
                        await axios.put("/customer/" + item.id, item)
                            .then(function (response) {
                                self.getCustomers();
                                console.log(response);
                            });
                    },
                    deleteCustomer: async function (item) {
                        self = this;
                        await axios.delete("/customer/" + item.id)
                            .then(function (response) {
                                console.log(response);
                                self.customer = '';
                                self.getCustomers();
                            });
                    },
                    CustomerAddRow: function () {
                        self = this;
                        self.customers.push({
                            isInsert: true,
                        });
                        self.customer = self.customers.slice(-1)[0];
                        localStorage.setItem('customer', JSON.stringify(self.customer))
                    },
                    selectCustomer: function (item) {
                        this.customer = item;
                        console.log(this.customer);
                        localStorage.setItem('customer', JSON.stringify(item))
                    },
                    getCustomer: async function (item) {
                        self = this;
                        await axios.get("/customer/" + item.id)
                            .then(function (response) {
                                console.log(response);
                                for (const [key, value] of Object.entries(response.data)) {
                                    console.log(key, value);
                                    self.$set(self.customer, key, value);
                                }
                            });
                    },
                    rowClass: function (item, type) {
                        if (!item || type !== 'row') return
                        if (!item.id) return "d-none";
                    },
                    modalShow: function (item, modalName) {
                        this.customer = item;
                        console.log(this.customer);
                        this.$bvModal.show(modalName);
                    },
                    deleteModalProcess(result) {
                        this.$bvModal.hide('deleteModal');
                        if (result === true) {
                            this.deleteCustomer(this.customer);
                        }
                    },
                    upsertModalProcess(result) {
                        this.$bvModal.hide('upsertModal');
                        if (result === true) {
                            this.bulkUpsert(this.customer);
                        }
                    },
                    formatter_postNum(value) {
                        if (value.length === 7 && !value.includes('-')) {
                            var firstValue = value.slice(0, 3);
                            var lastValue = value.slice(3, 7);
                            return firstValue + '-' + lastValue;
                        }
                        return value;
                    }
                },
                mounted: function () {
                    this.customer = JSON.parse(localStorage.getItem('customer'));
                    this.getCustomers();
                    document.querySelector('title').textContent = '得意先管理';
                },
                router,
                computed: {
                    pageName() {
                        if (this.$route.query.page == undefined) return 'index';
                        return this.$route.query.page;
                    },
                    modeName() {
                        return localStorage.getItem('wMode');
                    },
                    customersIndicateIndex: function () {
                        if (this.isHideOption === true) {
                            return this.customers.filter(customer => customer.isHide === false)
                        }
                        return this.customers;
                    }
                }
            })

            // ヘッダー追従
            var navPos = jQuery('#global-nav').offset().top; // グローバルメニューの位置
            var navHeight = jQuery('#global-nav').outerHeight(); // グローバルメニューの高さ
            jQuery(window).on('scroll', function () {
                if (jQuery(this).scrollTop() > navPos) {
                    jQuery('body').css('padding-top', navHeight);
                    jQuery('#global-nav').addClass('m_fixed');
                } else {
                    jQuery('body').css('padding-top', 0);
                    jQuery('#global-nav').removeClass('m_fixed');
                }
            });


        </script>
        <% endblock %>