<% extends "head.html" %>
    <% block content %>
        <style>
            .td-postNumber {
                width: 80px;
            }

            .td-telNumber {
                width: 120px;
            }
        </style>
        <div id="app" v-cloak>
            <!-- 一覧表示 -->
            <div v-if="pageName=='index'">
                <b-card class="fixed-top header" style="background: rgba(255,255,255,0.5);">
                    <b-row>
                        <b-col></b-col>
                        <b-col cols="11">
                            <b-row>
                                <b-col>
                                    <router-link to="?page=store">
                                        <b-button pill variant="success" class="mr-3" @click="CustomerAddRow();">＋新規作成
                                        </b-button>
                                    </router-link>
                                </b-col>
                                <b-col class="text-right">
                                    <sc-menu v-if="modeName!='mw'"></sc-menu>
                                </b-col>
                            </b-row>
                        </b-col>
                        <b-col></b-col>
                    </b-row>
                </b-card>

                <!-- 空行 -->
                <b-row class="mb-5"></b-row>
                <b-row class="mb-5"></b-row>

                <b-row class="mt-1">
                    <b-col></b-col>
                    <b-col cols="11">
                        <b-card border-variant="white" class="mb-3 text-center" header="得意先一覧"
                            header-border-variant="light">
                            <b-row align-h="end">
                                <b-form-checkbox class="mr-3" v-model="isShowFavorite">お気に入り</b-form-checkbox>
                                <b-form-checkbox class="mr-3" v-model="isShowAll">全て表示</b-form-checkbox>
                            </b-row>
                            <b-table responsive hover small id="customertable" sort-by="ID" small label="Table Options"
                                :items=customersIndicateIndex :sort-by.sync="sortByCustomers" :fields="[
                      {  key: 'update', label: '' },
                      {  key: 'id', label: 'No.', sortable: true },
                      {  key: 'customerName', label: '得意先名', sortable: true },
                      {  key: 'postNumber', label: '郵便番号', tdClass:'td-postNumber' },
                      {  key: 'address', label: '住所' },
                      {  key: 'telNumber', label: '電話番号', tdClass:'td-telNumber' },
                      {  key: 'memo', label: 'メモ' },
                    ]" :tbody-tr-class="rowClass">
                                <template v-slot:cell(update)="data">
                                    <router-link to="?page=show">
                                        <b-button variant="info" @click="selectCustomer(data.item);"><i
                                                class="fas fa-edit"></i>
                                        </b-button>
                                    </router-link>
                                </template>
                            </b-table>

                            <template>
                                <div class="overflow-auto">
                                    <b-pagination-nav :link-gen="linkGen" :page-gen="pageGen" @change="kanaSelect"
                                        :number-of-pages="syllabaryList.length"></b-pagination-nav>
                                </div>
                            </template>

                        </b-card>
                    </b-col>
                    <b-col></b-col>
                </b-row>
            </div>

            <!-- 新規作成・詳細(更新)ページ -->
            <div v-if="pageName=='show' || pageName=='store'">
                <b-row class="mt-5">
                    <b-col></b-col>
                    <!--- 本体 -->
                    <b-col cols=11>
                        <b-card border-variant="white" class="mb-3 text-center" header="得意先入力"
                            header-border-variant="light">
                            <b-row>
                                <b-col cols="6"></b-col>
                                <b-col sm>
                                    <b-form-group label-cols="6" label-cols-lg="6" label-size="sm" label="登録日"
                                        label-for="createdAt">
                                        <p class="text-left pl-2" id="createdAt">{{formatDate(customer.createdAt)}}</p>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="6" label-cols-lg="6" label-size="sm" label="更新日"
                                        label-for="updatedAt">
                                        <p class="text-left pl-2" id="updatedAt">{{formatDate(customer.updatedAt)}}</p>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="得意先名"
                                        label-for="customerName">
                                        <b-form-input v-model="customer.customerName" id="customerName" size="sm"
                                            autocomplete="off">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="敬称"
                                        label-for="honorificTitle">
                                        <b-form-input v-model="customer.honorificTitle" id="honorificTitle" size="sm"
                                            autocomplete="off">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="フリガナ"
                                        label-for="customerKana">
                                        <b-form-input id="input-live" v-model="customer.customerKana"
                                            :state="customerKanaValidate"
                                            aria-describedby="input-live-help input-live-feedback" trim></b-form-input>
                                        <b-form-invalid-feedback id="input-live-feedback">
                                            全角カナまたは英数字で入力してください。
                                        </b-form-invalid-feedback>
                                        <b-form-text id="input-live-help">※全角カナ・英数字で入力(例)jマート1</b-form-text>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="部署"
                                        label-for="department">
                                        <b-form-input v-model="customer.department" id="department" size="sm"
                                            autocomplete="off">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="郵便番号"
                                        label-for="postNumber">
                                        <b-form-input v-model="customer.postNumber" id="postNumber" size="sm"
                                            autocomplete="off" :formatter="formatter_postNum">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>

                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="住所1"
                                        label-for="address">
                                        <b-form-input v-model="customer.address" id="address" size="sm"
                                            autocomplete="off">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="住所2"
                                        label-for="address">
                                        <b-form-input v-model="customer.addressSub" id="address" size="sm"
                                            autocomplete="off">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="電話番号"
                                        label-for="telNumber">
                                        <b-form-input v-model="customer.telNumber" id="telNumber" size="sm"
                                            autocomplete="off">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="FAX番号"
                                        label-for="faxNumber">
                                        <b-form-input v-model="customer.faxNumber" id="faxNumber" size="sm"
                                            autocomplete="off">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="ホームページURL"
                                        label-for="url">
                                        <b-form-input v-model="customer.url" id="url" size="sm" autocomplete="off">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="email"
                                        label-for="email">
                                        <b-form-input v-model="customer.email" id="email" size="sm" autocomplete="off">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="代表者名"
                                        label-for="representative">
                                        <b-form-input v-model="customer.representative" id="representative" size="sm"
                                            autocomplete="off">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="担当者"
                                        label-for="manager">
                                        <b-form-input v-model="customer.manager" id="manager" size="sm"
                                            autocomplete="off">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="お客様区分"
                                        label-for="customerCategory">
                                        <b-form-radio-group required v-if="" v-model="customer.customerCategory"
                                            id="customerCategory" :options="[
                                            {  text: '法人', value: 'corporation' },
                                            {  text: '個人', value: 'individual' },
                                            ]"></b-form-radio-group>
                                    </b-form-group>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="非表示"
                                        label-for="isHide">
                                        <b-form-checkbox v-model="customer.isHide"></b-form-checkbox>
                                    </b-form-group>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="お気に入り"
                                        label-for="isFavorite">
                                        <b-form-checkbox v-model="customer.isFavorite"></b-form-checkbox>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="メモ"
                                        label-for="memo">
                                        <b-form-textarea v-model="customer.memo" size="sm" rows="4">
                                        </b-form-textarea>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                        </b-card>

                    </b-col> <!-- 本体 -->
                    <b-col></b-col>

                </b-row>

            </div>

            <!-- 空行 -->
            <b-row class="mb-5"></b-row>
            <b-row class="mb-5"></b-row>
            <b-row class="mb-5"></b-row>

            <!-- 更新・取消ボタンのフッター -->
            <b-card v-if="pageName=='show' || pageName=='store'" bg-variant="dark" text-variant="white"
                class="fixed-bottom footer">
                <b-row>
                    <b-col>
                        <router-link to="?page=index">
                            <b-button @click="getCustomers();">＜</b-button>
                        </router-link>
                    </b-col>
                    <b-col class="text-right">
                        <b-button pill variant="info" @click="apply();">適用</b-button>
                        <b-button pill size="lg" variant="info" @click="pdfOut"><i class="fas fa-print"></i>
                        </b-button>
                        <b-button pill size="lg" variant="danger" @click="modalShow(customer,'deleteModal');">
                            <i class="fas fa-trash-alt"></i>
                        </b-button>
                    </b-col>
                </b-row>
            </b-card>

            <!-- 保存モーダル -->
            <div>
                <select-modal modal-name='upsertModal' modal-message='保存しますか？'
                    @selected="upsertModalProcess($event);" />
            </div>
            <!-- 削除モーダル -->
            <div>
                <select-modal modal-name='deleteModal' modal-message='削除しますか？'
                    @selected="deleteModalProcess($event);" />
            </div>

            <!-- バリデーションエラーモーダル -->
            <b-modal ref="validationErrorModal" hide-footer>
                <template #modal-title>
                    バリデーションエラー
                </template>
                <div class="d-block text-center">
                    <p>フリガナを正しく入力してください。</p>
                </div>
                <b-row>
                    <b-col class="text-center">
                        <b-button class="mt-3" @click="hideResultModal('validationErrorModal');">閉じる</b-button>
                    </b-col>
                </b-row>
            </b-modal>

        </div>

        <script>
            const router = new VueRouter({
            })

            var app = new Vue({
                el: '#app',
                data: {
                    sortByCustomers: 'customerName',
                    customers: [],               //全件customer
                    customer: [],                //選択中のcustomer
                    isShowAll: false,            // trueの時、全表示
                    isShowFavorite: false,
                    perPage: 20,                //ページネーション
                    currentPage: 1,             //ページネーション
                    syllabaryList: ['#　', '#ア', '#イ', '#ウ', '#エ', '#オ', '#カ', '#キ', '#ク', '#ケ', '#コ', '#サ', '#シ', '#ス', '#セ', '#ソ',
                        '#タ', '#チ', '#ツ', '#テ', '#ト', '#ナ', '#ニ', '#ヌ', '#ネ', '#ノ', '#ハ', '#ヒ', '#フ', '#へ', '#ホ', '#マ', '#ミ', '#ム', '#メ', '#モ',
                        '#ヤ', '#ユ', '#ヨ', '#ラ', '#リ', '#ル', '#レ', '#ロ', '#ワ', '#ヲ', '#ン',],
                    syllabarySelect: '',
                },
                methods: {
                    // ---Customers---
                    getCustomers: async function () {
                        self = this;
                        await axios.get("/customers")
                            .then(function (response) {
                                console.log(response);
                                self.customers = response.data;
                            });
                    },
                    bulkUpsert(item) {
                        if (!item.id) {
                            this.insertCustomer(item);
                        }
                        else {
                            this.updateCustomer(item);
                        }
                    },
                    insertCustomer: async function (item) {
                        self = this;
                        await axios.post("/customer", item)
                            .then(function (response) {
                                Vue.set(self.customer, 'id', response.data.id)
                                self.getCustomers();
                                self.customer.isInsert = false;
                            });
                    },
                    updateCustomer: async function (item) {
                        self = this;
                        await axios.put("/customer/" + item.id, item)
                            .then(function (response) {
                                self.getCustomers();
                                console.log(response);
                            });
                    },
                    deleteCustomer: async function (item) {
                        self = this;
                        await axios.delete("/customer/" + item.id)
                            .then(function (response) {
                                console.log(response);
                                self.customer = '';
                                self.getCustomers();
                            });
                    },
                    CustomerAddRow: function () {
                        self = this;
                        self.customers.push({
                            isInsert: true,
                            customerKana: "",
                        });
                        self.customer = self.customers.slice(-1)[0];
                        localStorage.setItem('customer', JSON.stringify(self.customer))
                    },
                    selectCustomer: function (item) {
                        this.customer = item;
                        console.log(this.customer);
                        localStorage.setItem('customer', JSON.stringify(item))
                    },
                    getCustomer: async function (item) {
                        self = this;
                        await axios.get("/customer/" + item.id)
                            .then(function (response) {
                                console.log(response);
                                for (const [key, value] of Object.entries(response.data)) {
                                    console.log(key, value);
                                    self.$set(self.customer, key, value);
                                }
                            });
                    },
                    rowClass: function (item, type) {
                        if (!item || type !== 'row') return
                        if (!item.id) return "d-none";
                    },
                    apply: function () {
                        if (this.customerKanaValidate === true) {
                            this.modalShow(this.customer, 'upsertModal');
                        }
                        else this.modalShowAlert('validationErrorModal');
                    },
                    modalShow: function (item, modalName) {
                        this.customer = item;
                        console.log(this.customer);
                        this.$bvModal.show(modalName);
                    },
                    modalShowAlert: function (modalName) {
                        this.$refs[modalName].show();
                    },
                    hideResultModal: function (modalName) {
                        this.$refs[modalName].hide();
                    },
                    deleteModalProcess(result) {
                        this.$bvModal.hide('deleteModal');
                        if (result === true) {
                            this.deleteCustomer(this.customer);
                        }
                    },
                    upsertModalProcess(result) {
                        this.$bvModal.hide('upsertModal');
                        if (result === true) {
                            this.bulkUpsert(this.customer);
                        }
                    },
                    formatter_postNum(value) {
                        if (value.length === 7 && !value.includes('-')) {
                            var firstValue = value.slice(0, 3);
                            var lastValue = value.slice(3, 7);
                            return firstValue + '-' + lastValue;
                        }
                        return value;
                    },
                    pdfOut: function () {
                        alert("PDFを表示します");
                        window.parent.postMessage({
                            action: 'pdfOut',
                            message: 'this is message'
                        }, "*");
                    },
                    formatDate(date) {
                        if (!!date) return moment(date).format("YYYY/MM/DD");
                    },
                    // リンクへの挿入
                    linkGen(pageNum) {
                        return this.syllabaryList[pageNum - 1];
                    },
                    // ボタンの文字
                    pageGen(pageNum) {
                        return this.syllabaryList[pageNum - 1].slice(1);
                    },
                    kanaSelect(page) {
                        let word = this.syllabaryList[page - 1].slice(1);
                        if (word === "　") word = "";
                        this.syllabarySelect = word;
                    },
                },
                mounted: function () {
                    this.customer = JSON.parse(localStorage.getItem('customer'));
                    this.getCustomers();
                    document.querySelector('title').textContent = '得意先管理';
                },
                router,
                computed: {
                    pageName() {
                        if (this.$route.query.page == undefined) return 'index';
                        return this.$route.query.page;
                    },
                    modeName() {
                        return localStorage.getItem('wMode');
                    },
                    customersIndicateIndex: function () {
                        let customers = this.customers
                        if (this.isShowAll === false)
                            customers = customers.filter(customer => customer.isHide === false);
                        if (this.isShowFavorite === true)
                            customers = customers.filter(customer => customer.isFavorite === true);
                        customers = customers.filter(customer => !customer.customerKana.indexOf(this.syllabarySelect));
                        return customers;
                    },
                    // バリデーション
                    customerKanaValidate() {
                        let regExp = new RegExp(/^[ァ-ンヴー0-9a-zA-Z]*$/);
                        let result = regExp.test(this.customer.customerKana);
                        return result
                    }
                }
            })

            function sendMessage() {
                alert(window.parent);
                window.parent.postMessage({
                    action: 'pdfOut',
                    message: 'this is message'
                }, "*");

            }


        </script>
        <% endblock %>