<% extends "head.html" %>
    <% block content %>
        <style>
            .sm-mode {
                display: none;
            }

            .pc-mode {
                display: block;
            }

            @media screen and (max-width:690px) {
                .sm-mode {
                    display: block;
                }

                .pc-mode {
                    display: none;
                }
            }

            .card-header {
                background-color: #ccecf1;
                font-size: 18px;
            }
        </style>

        <div id="app" v-cloak>
            <b-card class="fixed-top header" style="background: rgba(255,255,255,0.5);">
                <b-row>
                    <b-col></b-col>
                    <b-col cols="11">
                        <b-row>
                            <b-col>
                            </b-col>
                            <!-- サイドバー -->
                            <b-col cols="1" class="text-right">
                                <sc-menu v-if="modeName!='mw'"></sc-menu>
                            </b-col>
                        </b-row>
                    </b-col>
                    <b-col></b-col>
                </b-row>
            </b-card>

            <!-- 空行 -->
            <b-row class="mb-5"></b-row>
            <b-row class="mb-5"></b-row>

            <div>
                <b-row class="mt-5">
                    <b-col></b-col>
                    <b-col cols=11>
                        <b-card border-variant="white" class="mb-3 text-center" header="削除済みページ選択"
                            header-border-variant="light">
                            <p>削除した請求書・見積書を参照できます。</p>
                            <p>参照したい削除済みページを選択してください。</p>
                            <b-button class="mt-5" href="/invoice-dust-page">削除済み請求書ページへ</b-button>
                            <b-button class="mt-5" href="/quotation-dust-page">削除済み見積書ページへ</b-button>
                        </b-card>
                    </b-col>
                    <b-col></b-col>
                </b-row>
            </div>

            <b-card text-variant="white" class="fixed-bottom footer" style="background: rgba(52,58,64,0.9);">
                <b-row>
                    <b-col class="pc-mode">
                        <b-button href="/setting-page">＜</b-button>
                        <b-button href="/user-page">ユーザー登録</b-button>
                        <b-button href="/category-page">カテゴリ登録</b-button>
                        <b-button href="/maker-page">メーカー登録</b-button>
                        <b-button href="/unit-page">単位登録</b-button>
                        <b-button href="/dust-select-page">削除済み参照</b-button>
                    </b-col>
                    <b-col class="sm-mode">
                        <b-button href="/setting-page">
                            <b-icon icon="chevron-left"></b-icon>
                        </b-button>
                        <b-button href="/user-page" v-b-tooltip.hover.top="'ユーザー登録'">
                            <b-icon icon="person-plus-fill"></b-icon>
                        </b-button>
                        <b-button href="/category-page" v-b-tooltip.hover.top="'カテゴリ登録'">
                            <b-icon icon="folder2"></b-icon>
                        </b-button>
                        <b-button href="/maker-page" v-b-tooltip.hover.top="'メーカー登録'">
                            <b-icon icon="building"></b-icon>
                        </b-button>
                        <b-button href="/unit-page" v-b-tooltip.hover.top="'単位登録'">
                            <b-icon icon="hammer"></i>
                        </b-button>
                        <b-button href="/dust-select-page" v-b-tooltip.hover.top="'削除済み参照'">
                            <b-icon icon="file-earmark-x"></b-icon>
                        </b-button>
                    </b-col>
                </b-row>
            </b-card>

        </div>

        <script>
            const router = new VueRouter({
            });

            var app = new Vue({
                el: '#app',
                methods: {
                },
                mounted: function () {
                    document.querySelector('title').textContent = '削除済みページ選択';
                },
                router,
                computed: {
                    modeName() {
                        //return this.$route.query.mode;
                        return localStorage.getItem('wMode');
                    },
                }
            })
        </script>
        <% endblock %>