<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
        <link href="images/favicon.ico" rel="shortcut icon">
        -->
    <title>SohoCaddie</title>
    <!-- Load required Bootstrap and BootstrapVue CSS -->

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="../static/library/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="../static/library/bootstrap-vue.min.css" />

    <!-- Load fontawesome -->
    <link type="text/css" rel="stylesheet" href="../static/library/fontawesome/css/all.min.css">

    <!-- Load polyfills to support older browsers -->
    <script src="../static//library/polyfill.min.js" crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="../static/library/vue.min.js"></script>
    <script src="../static/library/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="../static/library/bootstrap-vue-icons.min.js"></script>

    <!-- axios -->
    <script src="../static/library/axios.min.js"></script>

    <!-- popper DevVer-->
    <script src="../static/library/popper.min.js"></script>

    <!-- VueRouter -->
    <script src="../static/library/vue-router.js"></script>

    <!-- 日付フォーマット -->
    <script src="../static/library/moment.js"></script>
    <script src="../static/library/ja.min.js"></script>

    <!-- Dropzone.js -->
    <script src="../static/library/dropzone.min.js"></script>
    <link rel="stylesheet" href="../static/library/dropzone.min.css" type="text/css" />

    <!-- jquery -->
    <script src="../static/library/jquery-3.6.0.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->

    <!-- soho caddie component-->
    <script src="static/component/sc-menu.js"></script>
    <script src="static/component/select-modal.js"></script>
</head>

<body>

    <% block content %>
        <!--- contents here -->
        <% endblock %>

</body>

</html>