<% extends "head.html" %>
    <% block content %>
        <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
        <link href="https://printjs-4de6.kxcdn.com/print.min.css" rel="stylesheet">

        <style>
            .card-header {
                background-color: #ccecf1;
                font-size: 18px;
            }

            #invoicetable td,
            #invoice_items_table td {
                vertical-align: middle;
            }

            .td-item-id {
                width: 90px;
            }

            .td-count {
                width: 75px;
            }

            .td-unit {
                width: 90px;
            }

            .td-price {
                max-width: 100px;
            }

            /* スピンボタン無効化 */
            /* Chrome/Safari */
            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }

            /* Firefox */
            input[type="number"] {
                -moz-appearance: textfield;
            }

            .box {
                /* border: 1px solid #333333; */
                /* width: 200px; */
                height: 135px;
                overflow-y: scroll;
            }

            .image-in-check {
                width: 15px;
                height: 15px;
                color: #ffffff;
                background-color: #2779bd;
                display: flex;
                /*justify-content: center;*/
                /*align-items: center;*/
                font-size: 1.5rem;
                border-radius: 50%;
                cursor: pointer;

                position: absolute;
                top: 5;
                left: 5;
                z-index: 0;
            }

            .file-card {
                display: flex;
                flex-wrap: wrap;
            }

            #dropdown-dropup__BV_button_ {
                border-radius: 20px 0 0 20px;
            }

            #dropdown-dropup__BV_toggle_ {
                border-radius: 0 20px 20px 0;
            }
        </style>

        <div id="app" v-cloak>
            <!-- 一覧表示 -->
            <div v-if="pageName=='index'">
                <b-card class="fixed-top header" style="background: rgba(255,255,255,0.5);">
                    <b-row>
                        <b-col></b-col>
                        <b-col cols="11">
                            <b-row>
                                <b-col>
                                    <router-link to="?page=store">
                                        <b-button pill variant="success" class="mr-3" @click="InvoiceAddRow();">＋新規作成
                                        </b-button>
                                    </router-link>
                                </b-col>
                                <b-col class="text-right">
                                    <sc-menu v-if="modeName!='mw'"></sc-menu>
                                </b-col>
                            </b-row>
                        </b-col>
                        <b-col></b-col>
                    </b-row>
                </b-card>

                <!-- 空行 -->
                <b-row class="mb-5"></b-row>
                <b-row class="mb-5"></b-row>

                <b-row class="mt-1">
                    <b-col></b-col>
                    <b-col cols="11">
                        <b-card border-variant="white" class="mb-3 text-center" header="請求書一覧"
                            header-border-variant="light">
                            <b-row>
                                <b-col sm>
                                    <b-row>
                                        <b-col cols="2" class="text-left mt-1">
                                            検索
                                        </b-col>
                                        <b-col>
                                            <b-form-input v-model="searchInvoiceWord" id="searchInvoiceWord" size="sm"
                                                placeholder="顧客名or日付">
                                            </b-form-input>
                                        </b-col>
                                    </b-row>
                                </b-col>
                                <b-col sm>
                                </b-col>
                                <b-col sm>
                                    <b-row align-h="end">
                                        <b-form-checkbox class="mr-3" v-model="isInvoicesShowAll">全て表示</b-form-checkbox>
                                    </b-row>
                                </b-col>
                            </b-row>
                            <b-row align-h="end">
                                <p class="mr-3">表示件数 {{ invoicesIndicateCount }}件</p>
                            </b-row>
                            <b-table responsive hover small id="invoicetable" sort-by="ID" small label="Table Options"
                                :items=invoicesIndicateIndex :fields="[
                          {  key: 'update', label: '' },
                          {  key: 'id', thClass: 'd-none', tdClass: 'd-none' },
                          {  key: 'applyNumber', label: '請求番号' },
                          {  key: 'applyDate', label: '日付' },
                          {  key: 'customerName', label: '顧客名' },
                          {  key: 'title', label: '件名' },
                          {  key: 'totalAmount', label: '合計金額' },
                        ]" :tbody-tr-class="rowClass">
                                <template v-slot:cell(update)="data">
                                    <router-link to="?page=show">
                                        <b-button variant="primary" @click="selectInvoice(data.item);"><i
                                                class="fas fa-edit"></i>
                                        </b-button>
                                    </router-link>
                                </template>
                                <template v-slot:cell(applyDate)="data">
                                    {{formatDate(data.item.applyDate)}}
                                </template>
                                <template v-slot:cell(totalAmount)="data">
                                    {{amountCalculation(data.item)|nf}}
                                </template>
                            </b-table>
                        </b-card>
                    </b-col>
                    <b-col></b-col>
                </b-row>
            </div>

            <!-- 新規作成・詳細(更新)ページ -->
            <div v-if="pageName=='show' || pageName=='store'">
                <b-row class="mt-2">
                    <b-col></b-col>
                    <!--- 本体 -->
                    <b-col cols=11>
                        <div class="text-right">
                            <span class="mr-2">登録日:{{formatDate(invoice.createdAt)}}</span>
                            <span class="mr-2">更新日:{{formatDate(invoice.updatedAt)}}</span>
                        </div>
                        <b-card border-variant="white" class="mb-3 text-center" header="請求書入力"
                            header-border-variant="light">
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="顧客ID"
                                        label-for="customerId" label-align="right">
                                        <p class="text-left pl-2" id="customerId">{{invoice.customerId}}</p>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="請求No."
                                        label-for="applyNumber" label-align="right">
                                        <p class="text-left pl-2" id="applyNumber">{{invoice.applyNumber}}</p>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="日付"
                                        label-for="applyDate" label-align="right">
                                        <b-form-input v-model="invoice.applyDate" id="applyDate" size="sm" type="date">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="支払期限"
                                        label-for="deadLine" label-align="right">
                                        <b-form-input v-model="invoice.deadLine" id="deadLine" size="sm" type="date">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="顧客名"
                                        label-for="customer" class="customer" label-align="right">
                                        <b-form-input v-model="invoice.customerName" id="customerName" size="sm"
                                            autocomplete="off" @dblclick="$bvModal.show('customer-modal')"
                                            v-on:keydown.enter="onKeyDownCustomer">
                                        </b-form-input>
                                        <!-- 得意先一覧モーダル -->
                                        <b-modal size="xl" id="customer-modal">
                                            <p>顧客を選択してください</p>
                                            <b-form-group label-cols="2" label-size="sm" label-align="center" label="検索"
                                                label-for="searchCustomerWord">
                                                <b-form-input v-model="searchCustomerWord" id="searchCustomerWord"
                                                    size="sm">
                                                </b-form-input>
                                            </b-form-group>
                                            <b-row align-h="end">
                                                <b-form-checkbox class="mr-3" v-model="isShowFavorite">お気に入り
                                                </b-form-checkbox>
                                                <b-form-checkbox class="mr-3" v-model="isShowAll">全て表示
                                                </b-form-checkbox>
                                            </b-row>
                                            <b-table hover striped small sort-by="ID" id="customer-table"
                                                :items="searchCustomers" @row-clicked="customerSelect"
                                                label="Table Options" :fields="[
                                  {  key: 'id', label: 'No.' },
                                  {  key: 'customerName', label: '顧客名' },
                                ]"></b-table>

                                        </b-modal>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-row>
                                        <b-col sm>
                                            <b-form-group label-cols="4" label-cols-lg="4" label-size="sm" label="敬称"
                                                label-for="honorificTitle" label-align="right">
                                                <b-form-input v-model="invoice.honorificTitle" id="honorificTitle"
                                                    size="sm" autocomplete="off">
                                                </b-form-input>
                                            </b-form-group>
                                        </b-col>
                                        <b-col sm>
                                            <b-form-group label-cols="4" label-cols-lg="4" label-size="sm" label="担当者"
                                                label-for="manager" label-align="right">
                                                <b-form-input v-model="invoice.manager" id="manager" size="sm"
                                                    autocomplete="off">
                                                </b-form-input>
                                            </b-form-group>
                                        </b-col>
                                    </b-row>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="部署"
                                        label-for="department" label-align="right">
                                        <b-form-input v-model="invoice.department" id="department" size="sm"
                                            autocomplete="off">
                                        </b-form-input>
                                    </b-form-group>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="先方担当者"
                                        label-for="otherPartyManager" label-align="right">
                                        <b-form-input v-model="invoice.otherPartyManager" id="otherPartyManager"
                                            size="sm" autocomplete="off">
                                        </b-form-input>
                                    </b-form-group>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="件名"
                                        label-for="title" label-align="right">
                                        <b-form-input v-model="invoice.title" id="title" size="sm" autocomplete="off">
                                        </b-form-input>
                                    </b-form-group>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="メモ"
                                        label-for="メモ" label-align="right">
                                        <b-form-textarea v-model="invoice.memo" size="sm" rows="2">
                                        </b-form-textarea>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                </b-col>
                            </b-row>

                        </b-card>

                        <!--  table list & edit -->
                        <b-table hover caption-top small id="invoice_items_table" primary-key="id" small
                            label="Table Options" :items=invoice.invoice_items :fields="[
                          {  key: 'id', thClass: 'd-none', tdClass: 'd-none' },
                          {  key: 'itemId', label: '商品ID', tdClass:'td-item-id' ,sortable: true},
                          {  key: 'itemName', label: '商品名' ,sortable: true},
                          {  key: 'count',   label: '個数', tdClass:'td-count' },
                          {  key: 'unit',   label: '単位', tdClass:'td-unit' },
                          {  key: 'price', label: '値段', tdClass:'td-price' },
                          {  key: 'amount', label: '金額' },
                          {  key: 'detail', label: '詳細',class:'text-center' },
                          {  key: 'delete', label: '削除',class:'text-center' },
                        ]">
                            <template v-slot:cell(itemName)="data">
                                <textarea v-model="data.item.itemName" class="form-control form-control-sm itemNameArea"
                                    rows="1" @dblclick="showModalItems(); selectInvoiceItem(data.item);"
                                    v-on:keydown.enter="selectInvoiceItem(data.item);onKeyDownItem(data.index);">
                                </textarea>

                                <b-modal size="xl" ref="items-modal" title="商品一覧">
                                    <b-row>
                                        <b-col>
                                        </b-col>
                                        <b-col>
                                            <b-row class="mb-1">
                                                <b-col cols="4" class="text-center">
                                                    <label for="searchItemWord"><i class="fas fa-search"></i></label>
                                                </b-col>
                                                <b-col cols="8">
                                                    <b-form-input v-model="searchItemWord" id="searchItemWord"
                                                        size="sm">
                                                    </b-form-input>
                                                </b-col>
                                            </b-row>
                                            <b-row class="mb-1">
                                                <b-col cols="4" class="text-center">
                                                    <label for="searchItemSelectCategory">カテゴリ</label>
                                                </b-col>
                                                <b-col cols="8">
                                                    <b-form-select v-model="searchItemSelectCategory"
                                                        :options="categories" size="sm">
                                                    </b-form-select>
                                                </b-col>
                                            </b-row>
                                            <b-row class="mb-2">
                                                <b-col cols="4" class="text-center">
                                                    <label for="searchItemSelectMaker">メーカー</label>
                                                </b-col>
                                                <b-col cols="8">
                                                    <b-form-select v-model="searchItemSelectMaker" :options="makers"
                                                        size="sm">
                                                    </b-form-select>
                                                </b-col>
                                            </b-row>
                                        </b-col>
                                    </b-row>
                                    <b-table hover striped small sort-by="ID" id="items-table" :items="searchItems"
                                        @row-clicked="itemSelect" label="Table Options" :fields="[
                                  {  key: 'id', label: 'No.' },
                                  {  key: 'itemName', label: '商品名' },
                                  {  key: 'unit',   label: '単位' },
                                  {  key: 'basePrice',  label: '単価' },
                                  {  key: 'baseCost',  label: '原価' },
                                  {  key: 'memo', label: 'メモ' },
                                ]"></b-table>
                                </b-modal>

                            </template>
                            <template v-slot:cell(count)="data">
                                <b-form-input v-model="data.item.count" type="number" size="sm" autocomplete="off">
                                </b-form-input>
                            </template>
                            <template v-slot:cell(unit)="data">
                                <b-form-select v-model="data.item.unit" :options="units" size="sm" autocomplete="off">
                                </b-form-select>
                            </template>
                            <template v-slot:cell(price)="data">
                                <b-form-input v-model="data.item.price" type="number" size="sm" autocomplete="off">
                                </b-form-input>
                            </template>
                            <template v-slot:cell(amount)="data">
                                <div class="text-right">{{data.item.count*data.item.price|nf}}</div>
                            </template>

                            <template v-slot:cell(detail)="data">
                                <b-form-checkbox @change="data.toggleDetails"></b-form-checkbox>
                            </template>

                            <template #row-details="data">
                                <b-row>
                                    <b-col cols=1></b-col>
                                    <b-col cols=4>
                                        <b-form-group label-cols="4" label-cols-lg="4" label-size="sm" label="原価:"
                                            label-for="cost">
                                            <b-form-input v-model="data.item.cost" id="cost" size="sm">
                                            </b-form-input>
                                        </b-form-group>
                                    </b-col>
                                    <b-col>
                                        <p class="mt-1">原価率: {{data.item.cost/data.item.price}}</p>
                                    </b-col>
                                </b-row>
                            </template>

                            <template v-slot:cell(delete)="data">
                                <b-button variant="danger" class="fas fa-trash-alt"
                                    @click="deleteInvoiceItem(data.item)">
                                </b-button>
                            </template>

                        </b-table>

                        <!-- 商品項目を追加するプラスボタン -->
                        <b-row class="d-flex justify-content-end" id="item_add">
                            <b-col cols="16" md="auto">
                                <b-button pill variant="primary" @click="addRowInvoiceItem();">✙</b-button>
                            </b-col>
                        </b-row>

                        <div class="mt-5"></div>

                        <b-row class="mb-3">
                            <b-col cols="auto">
                                <b-form-checkbox class="mr-3" v-model="invoice.isPaid">入金済み</b-form-checkbox>
                            </b-col>
                            <b-col>
                                <b-form-input v-model="invoice.paymentDate" id="paymentDate" size="sm" type="date"
                                    style="width: 150px;">
                                </b-form-input>
                            </b-col>
                        </b-row>

                        <b-row>
                            <b-col md>
                                <b-form-textarea v-model="invoice.remarks" id="remarks" size="sm" type="text" rows="6"
                                    placeholder="備考欄">
                                </b-form-textarea>
                            </b-col>
                            <b-col md>
                                <b-table-simple borderless>
                                    <b-tr>
                                        <b-td class="text-right">小計</b-td>
                                        <b-td variant="primary" class="text-center">ここに小計が入る
                                        </b-td>
                                        <!-- <b-form-checkbox v-model="invoice.isTaxExp" class="text-right">外税 -->
                                        <b-form-checkbox v-model="invoice.isTaxExp" class="ml-3">外税
                                        </b-form-checkbox>
                                    </b-tr>
                                    <b-tr>
                                        <b-td class="text-right">内消費税</b-td>
                                        <b-td variant="primary" class="text-center">{{parseInt(sum*0.1)|nf}}</b-td>
                                    </b-tr>
                                    <b-tr>
                                        <b-td class="text-right">合計金額</b-td>
                                        <b-td variant="primary" v-if="invoice.isTaxExp" class="text-center">
                                            {{sum*1.1|nf}}</b-td>
                                        <b-td variant="primary" v-else class="text-center">{{sum|nf}}</b-td>
                                    </b-tr>
                                </b-table-simple>
                            </b-col>
                        </b-row>
                        <!-- アップロード機能　-->
                        <b-row>
                            <b-col md="3">
                                <b-form @submit="uploadFile" id="upform">
                                    <b-input-group block>
                                        <b-button pill type="submit" class="mr-3">
                                            <span v-if="!isUploading">確定</span>
                                            <b-spinner v-else label="Spinning" small></b-spinner>
                                        </b-button>
                                        <b-form-file v-model="form.file" size="lg" browse-text="+"
                                            placeholder="クリックまたはドラッグ..." drop-placeholder="Drop file here...">
                                        </b-form-file>
                                    </b-input-group>
                                </b-form>
                            </b-col>
                            <b-col>
                                <template v-if="uploadListMode=='list'">
                                    <b-table-simple hover small caption-top responsive class="box">
                                        <template v-for="f in dicFiles">
                                            <b-tr>
                                                <b-td width="5%">
                                                    <input type="checkbox" v-model="f.isSelect" size="sm">
                                                </b-td>
                                                <b-td width="15%">
                                                    <div @click="selectImgUrl=f.url">
                                                        <b-img :src="f.urlThumb" width="90" fluid></b-img>
                                                    </div>
                                                </b-td>
                                                <b-td class="ml-5">{{f.filename}}</b-td>
                                            </b-tr>
                                        </template>
                                    </b-table-simple>
                                </template>
                                <template v-if="uploadListMode=='card'">
                                    <div class="file-card ">
                                        <template v-for="f in dicFiles">
                                            <b-card border-variant="light">
                                                <b-img :src="'../'+f.thumbPath" width="90" fluid></b-img>
                                                <input type="checkbox" v-model="f.isSelect" class="image-in-check">
                                            </b-card>
                                            <!--
                                                    <b-card style="width: 5rem;" 
                                                        :img-src= "'../'+f.thumbPath"
                                                        img-top
                                                    >
                                                        <input type="checkbox" v-model="f.isSelect" class="image-in-check"> 
                                                    </b-card>
                                                -->
                                        </template>
                                    </div>
                                </template>
                            </b-col>
                            <b-col md="1">
                                <b-button @click="deleteFiles(invoice.applyNumber)" class="mr-2 mb-3"><i
                                        class="fas fa-trash-alt"></i>
                                </b-button>
                                <b-button v-if="uploadListMode=='list'" @click="uploadListMode='card'" class="mr-2">
                                    card</b-button>
                                <b-button v-if="uploadListMode=='card'" @click="uploadListMode='list'" class="mr-2">
                                    list</b-button>
                            </b-col>
                        </b-row>
                        <!--アップロード機能ここまで-->


                    </b-col> <!-- 本体 -->
                    <b-col></b-col>
                </b-row>
                <!--
                <sc-upload file-id = "2200001"></sc-upload>
                -->

                <!-- iframe用コミュニケーション変数-->
                <input type="hidden" v-model="countChanged" id="countChanged">

            </div>

            <!-- 空行 -->
            <b-row class="mb-5"></b-row>
            <b-row class="mb-5"></b-row>
            <b-row class="mb-5"></b-row>

            <!-- 更新・取消ボタンのフッター -->
            <b-card v-if="pageName=='show' || pageName=='store'" bg-variant="dark" text-variant="white"
                class="fixed-bottom footer">
                <b-row>
                    <b-col>
                        <b-button @click="checkChange" v-b-tooltip.hover.top="'戻る'">＜</b-button>
                    </b-col>
                    <b-col class="text-right" md="auto" cols="auto">
                        <b-button pill variant="primary" @click="bulkUpsert(invoice);showConfirmModal();"
                            v-b-tooltip.hover.top="'保存'">保存
                        </b-button>
                        <b-button v-if="pageName==='show'" pill size="lg" id="copy-button"
                            @click="modalShow(invoice,'copyModal');" v-b-tooltip.hover.top="'複製'"><i
                                class="fa-solid fa-copy"></i></b-button>
                        <b-button v-if="pageName==='show'" pill size="lg" id="convert-button"
                            @click="modalShow(invoice,'convertModal');" v-b-tooltip.hover.top="'見積書に変換'"><i
                                class="fa-solid fa-shuffle"></i></b-button>
                        <b-dropdown split dropup id="dropdown-dropup" size="lg" @click="pdfout('invoice')" id="pdfout"
                            v-b-tooltip.hover.top="'印刷'">
                            <template #button-content>
                                <i class="fas fa-print"></i>
                            </template>
                            <b-dropdown-item @click="pdfout('delivery')">納品書</b-dropdown-item>
                            <b-dropdown-item @click="pdfoutRcpt">領収書</b-dropdown-item>
                        </b-dropdown>
                        <b-button pill size="lg" variant="danger" @click="modalShow(invoice,'deleteModal');"
                            v-b-tooltip.hover.top="'削除'">
                            <i class="fas fa-trash-alt"></i>
                        </b-button>
                    </b-col>
                </b-row>
            </b-card>

            <!-- 確認モーダル -->
            <confirm-modal :title="title" :message="message"></confirm-modal>

            <!-- コピーモーダル -->
            <div>
                <select-modal modal-name='copyModal' modal-message='複製しますか？' @selected="copyModalProcess($event);" />
            </div>
            <!-- 変換モーダル -->
            <div>
                <select-modal modal-name='convertModal' modal-message='見積書に変換しますか？'
                    @selected="convertModalProcess($event);" />
            </div>
            <!-- 削除モーダル -->
            <div>
                <select-modal modal-name='deleteModal' modal-message='削除しますか？'
                    @selected="deleteModalProcess($event);" />
            </div>
        </div>

        <script src="static/component/def-pdf.js"></script>
        <!--
        <script src="static/component/sc-upload.js"></script>
        -->
        <script>
            Vue.filter('nf', function (val) {
                if (isNaN(val)) return null
                return val.toLocaleString();
            });

            const router = new VueRouter({
            })

            var app = new Vue({
                el: '#app',
                data: {
                    searchInvoiceWord: '',          //請求書検索
                    isInvoicesShowAll: false,               //請求書検索
                    invoicesIndicateCount: 0,       //請求書検索
                    searchItemWord: '',             //商品選択モーダル検索
                    searchItemSelectCategory: '',   //商品選択モーダル検索
                    searchItemSelectMaker: '',      //商品選択モーダル検索
                    searchCustomerWord: '',         //得意先選択モーダル検索
                    invoices: [],               //全件invoice
                    invoice: [],                //選択中のinvoice
                    invoiceItem: [],            //選択中のinvoiceItem
                    customers: [],
                    items: [],
                    units: [],
                    categories: [],
                    makers: [],
                    setting: [],
                    isShowAll: false,        // trueの時、customer.isHide=falseのもののみindexに表示
                    isShowFavorite: false,
                    fileId: '', //upload用ID
                    dicFiles: [],
                    form: {
                        file: '',
                        fileId: ''
                    },
                    uploadListMode: 'card', //list,card
                    title: '',      //モーダルタイトル
                    message: '',    //モーダルメッセージ
                    countChanged: 0,
                    isUploading: false
                },
                methods: {
                    // ---Invoices---
                    getInvoices: async function () {
                        self = this;
                        await axios.get("/invoices")
                            .then(function (response) {
                                console.log(response);
                                self.invoices = response.data;
                                self.countChanged = 0;
                            });
                    },
                    bulkUpsert(item) {
                        if (!item.id) {
                            this.insertInvoice(item);
                        }
                        else {
                            this.updateInvoice(item);
                        }
                    },
                    insertInvoice: async function (item) {
                        self = this;
                        await axios.post("/invoice", item)
                            .then(function (response) {
                                console.log(response);
                                Vue.set(self.invoice, 'id', response.data.id)
                                self.invoice.isInsert = false;
                            });
                        await self.getInvoice(self.invoice);
                        localStorage.setItem('invoice', JSON.stringify(self.invoice));
                        self.countChanged = 0;
                        app.title = '新規作成';
                        app.message = '保存しました。';
                    },
                    updateInvoice: async function (item) {
                        self = this;
                        await axios.put("/invoice/" + item.id, item)
                            .then(function (response) {
                                console.log(response);
                            });
                        await self.getInvoice(self.invoice);
                        localStorage.setItem('invoice', JSON.stringify(self.invoice));
                        self.countChanged = 0;
                        app.title = '更新';
                        app.message = '保存しました。'

                    },
                    copyInvoice: function (item) {
                        let invoiceResource = JSON.stringify(item);
                        invoiceResource = JSON.parse(invoiceResource);  //参照渡し対策
                        delete invoiceResource.id;
                        this.insertInvoice(invoiceResource);
                    },
                    convertInvoice: function (item) {
                        let quotationResource = JSON.stringify(item);
                        quotationResource = JSON.parse(quotationResource);  //参照渡し対策
                        quotationResource.expiry = item.deadLine;
                        quotationResource.quotation_items = item.invoice_items;
                        delete quotationResource.id;
                        delete quotationResource.deadLine;
                        delete quotationResource.invoice_items;
                        this.insertQuotation(quotationResource);
                    },
                    // axios.deleteは使わず、isDeleteをTrueに
                    deleteInvoice: async function (item) {
                        self = this;
                        await axios.put("/invoice_delete/" + item.id)
                            .then(function (response) {
                                console.log(response);
                                self.invoice = '';
                                self.getInvoices();
                            });
                    },
                    InvoiceAddRow: function () {
                        self = this;
                        self.invoices.push({
                            isInsert: true,
                            invoice_items: [{}, {}, {}, {}, {}],
                        });
                        self.invoice = self.invoices.slice(-1)[0];
                        Vue.set(self.invoice, 'isTaxExp', true);
                        localStorage.setItem('invoice', JSON.stringify(self.invoice));
                        this.countChanged = 0;
                        this.clearFileList();
                    },
                    selectInvoice: function (item) {
                        this.invoice = item;
                        console.log(this.invoice);
                        localStorage.setItem('invoice', JSON.stringify(item));
                        this.getFileList(this.invoice.applyNumber);
                        this.countChanged = 0;
                    },
                    selectInvoiceItem: function (item) {
                        this.invoiceItem = item;
                        console.log(this.invoiceItem);
                    },
                    getInvoice: async function (item) {
                        self = this;
                        await axios.get("/invoice/" + item.id)
                            .then(function (response) {
                                console.log(response);
                                for (const [key, value] of Object.entries(response.data)) {
                                    console.log(key, value);
                                    self.$set(self.invoice, key, value);
                                }
                            });
                    },
                    deleteInvoiceItem: async function (item) {
                        self = this;
                        if (item.id) {
                            await axios.delete("/invoice_item/" + item.id)
                                .then(function (response) {
                                    console.log(response);
                                    self.getInvoice(self.invoice);
                                });
                        }
                        else {
                            let indexNum = this.invoice.invoice_items.indexOf(item);
                            this.invoice.invoice_items.splice(indexNum, 1);
                        }
                    },
                    addRowInvoiceItem: function () {
                        if (this.invoice.length === 0) {
                            alert('請求書を選択してください');
                            return;
                        }
                        this.invoice.invoice_items.push({
                            invoiceId: this.invoice.id
                        })
                    },
                    insertQuotation: async function (item) {
                        self = this;
                        await axios.post("/quotation", item)
                            .then(function (response) {
                                console.log(response);
                            });
                    },
                    getCustomers: async function () {
                        self = this;
                        await axios.get("/customers")
                            .then(function (response) {
                                console.log(response);
                                self.customers = response.data;
                            });
                    },
                    getItems: async function () {
                        self = this;
                        await axios.get("/items")
                            .then(function (response) {
                                console.log(response);
                                self.items = response.data;
                            });
                    },
                    rowClass: function (item, type) {
                        if (!item || type !== 'row') return
                        if (!item.id) return "d-none";
                    },
                    getUnits: async function () {
                        self = this;
                        await axios.get("/units")
                            .then(function (response) {
                                console.log(response);
                                self.units = response.data.map(item => item['unitName']);
                            });
                    },
                    getCategories: async function () {
                        self = this;
                        await axios.get("/categories")
                            .then(function (response) {
                                console.log(response);
                                self.categories = response.data.map(item => item['categoryName']);
                                self.categories.unshift('')
                            });
                    },
                    getMakers: async function () {
                        self = this;
                        await axios.get("/makers")
                            .then(function (response) {
                                console.log(response);
                                self.makers = response.data.map(item => item['makerName']);
                                self.makers.unshift('')
                            });
                    },
                    getSetting: async function () {
                        self = this;
                        await axios.get("/setting")
                            .then(function (response) {
                                console.log(response);
                                self.setting = response.data;
                            });
                    },
                    modalShow: function (item, modalName) {
                        this.invoice = item;
                        console.log(this.invoice);
                        this.$bvModal.show(modalName);
                    },
                    showConfirmModal: function () {
                        this.$bvModal.show('confirmModal');
                    },
                    deleteModalProcess(result) {
                        this.$bvModal.hide('deleteModal');
                        if (result === true) {
                            this.deleteInvoice(this.invoice);
                        }
                    },
                    copyModalProcess(result) {
                        this.$bvModal.hide('copyModal');
                        if (result === true) {
                            this.copyInvoice(this.invoice);
                        }
                    },
                    convertModalProcess(result) {
                        this.$bvModal.hide('convertModal');
                        if (result === true) {
                            this.convertInvoice(this.invoice);
                        }
                    },
                    // 顧客名モーダル選択時
                    customerSelect(record) {
                        Vue.set(self.invoice, 'customerId', record.id);
                        Vue.set(self.invoice, 'customerName', record.customerName);
                        Vue.set(self.invoice, 'honorificTitle', record.honorificTitle);
                        this.$bvModal.hide("customer-modal");
                    },
                    // 顧客名入力→Enter
                    onKeyDownCustomer(record) {
                        console.log(record);
                        Vue.set(self.invoice, 'customerId', null);
                    },
                    // 商品名モーダル選択時
                    itemSelect(record) {
                        Vue.set(self.invoiceItem, 'itemId', record.id);
                        Vue.set(self.invoiceItem, 'itemName', record.itemName);
                        Vue.set(self.invoiceItem, 'unit', record.unit);
                        Vue.set(self.invoiceItem, 'price', record.basePrice);
                        Vue.set(self.invoiceItem, 'cost', record.baseCost);
                        this.$refs['items-modal'].hide()
                    },
                    // 商品名入力→Enter
                    onKeyDownItem(indexNum) {
                        Vue.set(self.invoiceItem, 'itemId', null);
                        console.log(indexNum);
                        $('#invoice_items_table').children('tbody').children('tr').eq(indexNum).find('.itemNameArea').attr("rows", "2");
                    },
                    // 商品名モーダル表示 モーダルのダブり表示防止
                    showModalItems() {
                        this.$refs['items-modal'].show()
                    },
                    pdfout: async function (mode) {
                        self = this;
                        if (mode == 'delivery') {
                            h.category = '納品書';
                        } else {
                            h.category = '請求書';
                        }
                        h.customerName = self.invoice.customerName;
                        h.applyNumber = self.invoice.applyNumber;
                        h.myCompanyName = self.setting.companyName;
                        h.myAddress1 = self.setting.address;
                        h.myTel1 = self.setting.telNumber;
                        h.myFax1 = self.setting.faxNumber;
                        h.person = self.invoice.manager ? self.invoice.manager : '';
                        if (this.invoice.isTaxExp) {
                            sum.amount = this.sum
                            sum.tax = parseInt(this.sum * 0.1);
                            sum.total = parseInt(this.sum * 1.1);
                        } else {
                            sum.amountLabel = "小計(税込み)";
                            sum.amount = this.sum;
                            sum.total = this.sum;
                            sum.tax = parseInt(sum.total - sum.total / 1.1)
                        };
                        pdfData = {};
                        pdfData = getPdfData();
                        pdfData.data.bdata = self.invoice.invoice_items;
                        pdfData.data.bdata = pdfData.data.bdata.map(i => ({ ...i, calcPrice: i.price * i.count }));
                        await axios.post("/pdfmaker", pdfData)
                            .then(function (response) {
                                printJS('/pdf/' + response.data)
                                /*
                                                                if (self.modeName == 'mw') {
                                                                    window.parent.postMessage({
                                                                        action: 'pdfOut',
                                                                        message: response.data
                                                                    }, "*");
                                                                } else {
                                                                    window.open('/pdf/' + response.data)
                                                                }
                                */
                            });
                    },
                    pdfoutRcpt: async function () {
                        self = this;
                        hr.customerName = self.invoice.customerName;
                        hr.applyNumber = self.invoice.applyNumber;
                        hr.forPaymentOf = self.invoice.title;
                        hr.dueDate = self.invoice.paymentDate;
                        hr.myCompanyName = self.setting.companyName;
                        hr.myAddress1 = self.setting.address;
                        hr.myTel1 = self.setting.telNumber;
                        hr.myFax1 = self.setting.faxNumber;
                        hr.ceoName = self.setting.representative;
                        //hr.amount = 123456789;
                        if (this.invoice.isTaxExp) {
                            hr.amount = parseInt(this.sum * 1.1);
                        } else {
                            hr.amount = this.sum;
                        };

                        pdfData = {};
                        pdfData = getPdfDataRcpt();
                        await axios.post("/pdfmaker", pdfData)
                            .then(function (response) {
                                printJS('/pdf/' + response.data)
                            });
                    },
                    formatDate(date) {
                        if (!!date) return moment(date).format("YYYY/MM/DD");
                    },
                    amountCalculation(invoice) {
                        let amount = invoice.invoice_items.map(item => item.count * item.price).reduce((a, b) => a + b);
                        if (invoice.isTaxExp === true) return Math.floor(amount * 1.1);
                        return amount;
                    },
                    //---- upload funcrions --
                    getFileList: async function (fid) {
                        self = this;
                        url = "list-files/s/upload/" + fid;
                        await axios.get(url)
                            .then(function (response) {
                                console.log(response.data);
                                self.dicFiles = response.data;
                            })
                    },
                    clearFileList: function () {
                        this.dicFiles = {};
                    },
                    uploadFile: async function (event) {
                        self = this;
                        event.preventDefault();
                        this.isUploading = true;
                        let files = event.target.files;
                        const formData = new FormData();
                        formData.append('file', self.form.file);
                        formData.append('fileId', self.invoice.applyNumber);
                        await axios.post("upload-files/s/upload", formData)
                            .then((res) => {
                                self.getFileList(self.invoice.applyNumber);
                            })
                            .catch((err) => {
                                console.log(err)
                            });
                        this.isUploading = false;

                    },
                    deleteFiles: async function (fid) {
                        self = this;
                        url = "delete-files/s";
                        await axios.delete(url, {
                            data: self.dicFiles
                        }
                        ).then(function (response) {
                            console.log(response.data);
                            self.getFileList(fid);
                        });
                    },
                    // ---- end upload functions -----
                    checkChange: async function () {
                        isUpdate = false;
                        if (this.countChanged) {
                            await this.$bvModal.msgBoxConfirm('未更新のデータがあります。', {
                                okVariant: 'primary',
                                okTitle: '保存して戻る',
                                cancelVariant: 'danger',
                                cancelTitle: '保存しないで戻る',
                                noCloseOnBackdrop: true

                            }).then(value => {
                                if (value) isUpdate = true;
                            });
                            if (isUpdate) await this.bulkUpsert(this.invoice);
                            this.getInvoices();
                            this.countChanged = 0;
                        }
                        this.clearFileList();
                        router.push({ path: "?page=index" });
                    }
                },
                mounted: function () {
                    this.invoice = JSON.parse(localStorage.getItem('invoice'));
                    this.getInvoices();
                    this.getCustomers();
                    this.getItems();
                    this.getUnits();
                    this.getCategories();
                    this.getMakers();
                    this.getSetting();
                    document.querySelector('title').textContent = '請求書管理';
                    this.getFileList(this.invoice.applyNumber)
                },
                router,
                computed: {
                    pageName() {
                        if (this.$route.query.page == undefined) return 'index';
                        return this.$route.query.page;
                    },
                    modeName() {
                        //return this.$route.query.mode;
                        return localStorage.getItem('wMode');
                    },
                    // 逐次、数量＊単価の合計をする
                    sum: function () {
                        if (typeof (this.invoice.invoice_items) == 'undefined') { return 0 } //初期立ち上がりでのエラー抑制
                        return this.invoice.invoice_items.map(invoice_item => parseInt(invoice_item.count * invoice_item.price)).reduce(function (a, b) { return a + (isNaN(b) ? 0 : b) }, 0);
                    },
                    invoicesIndicateIndex: function () {
                        let invoices = this.invoices;
                        if (this.isInvoicesShowAll === false)
                            invoices = invoices.filter(invoice => invoice.isPaid === false);
                        invoices = invoices.filter(invoice => searchFilter(invoice.customerName, this.searchInvoiceWord) ||
                            searchFilterDate(invoice.applyDate, this.searchInvoiceWord));
                        this.invoicesIndicateCount = invoices.length;
                        return invoices;
                    },
                    // 得意先選択モーダルの検索機能
                    searchCustomers: function () {
                        let customers = this.customers;
                        if (this.isShowAll === false)
                            customers = customers.filter(customer => customer.isHide === false);
                        if (this.isShowFavorite === true)
                            customers = customers.filter(customer => customer.isFavorite === true);
                        customers = customers.filter(customer => (customer.customerName?.includes(this.searchCustomerWord) || String(customer.id)?.includes(this.searchCustomerWord) ||
                            String(customer.customerKana)?.includes(this.searchCustomerWord)));
                        return customers;
                    },
                    // 商品選択モーダルの検索機能
                    searchItems: function () {
                        return this.items.filter(item => {
                            return (searchFilter(item.itemName, this.searchItemWord) ||
                                searchFilter(item.itemCode, this.searchItemWord) ||
                                searchFilter(item.model, this.searchItemWord)) &&
                                searchFilter(item.category, this.searchItemSelectCategory) &&
                                searchFilter(item.maker, this.searchItemSelectMaker);
                        });
                    },
                },
                watch: {
                    invoice: {
                        handler: function (val, oldval) {
                            if (this.pageName == 'show' || this.pageName == 'store') {
                                this.countChanged += 1;
                            }
                        },
                        deep: true
                    }
                }
            })

            function searchFilter(searchTarget, searchWord) {
                if ((searchTarget === null && searchWord === '') || (searchTarget !== null && searchWord === '')) {
                    return true;
                }
                if (searchTarget === null && searchWord !== '') {
                    return false;
                }
                return searchTarget.includes(searchWord);
            };

            function searchFilterDate(targetDate, searchDate) {
                if ((targetDate === null && searchDate === '') || (targetDate !== null && searchDate === ''))
                    return true;
                if (targetDate === null && searchDate !== '')
                    return false;
                if (searchDate.length === 4 && String(targetDate.slice(0, 4)) === String(searchDate))
                    return true;
                if (searchDate.length === 6 && String(targetDate.slice(0, 4) + targetDate.slice(5, 7)) === String(searchDate))
                    return true;
                if (searchDate.length === 8 && String(targetDate.slice(0, 4) + targetDate.slice(5, 7) + targetDate.slice(8, 10)) === String(searchDate))
                    return true;
                return false;
            };

        </script>
        <% endblock %>