<% extends "head.html" %>
    <% block content %>
        <!-- or point to a specific vue-select release -->
        <script src="https://unpkg.com/vue-select@3.0.0"></script>
        <link rel="stylesheet" href="https://unpkg.com/vue-select@3.0.0/dist/vue-select.css">
        <style>
            .td-postNumber {
                width: 80px;
            }

            .td-telNumber {
                width: 120px;
            }

            .box {
                /* border: 1px solid #333333; */
                /* width: 200px; */
                height: 135px;
                overflow-y: scroll;
            }

            .image-in-check {
                width: 15px;
                height: 15px;
                color: #ffffff;
                background-color: #2779bd;
                display: flex;
                /*justify-content: center;*/
                /*align-items: center;*/
                font-size: 1.5rem;
                border-radius: 50%;
                cursor: pointer;

                position: absolute;
                top: 5;
                left: 5;
                z-index: 0;
            }

            .file-card {
                display: flex;
                flex-wrap: wrap;
            }
        </style>

        <div id="app" v-cloak>
            <!-- 一覧表示 -->
            <div v-if="pageName=='index'">
                <b-card class="fixed-top header" style="background: rgba(255,255,255,0.5);">
                    <b-row>
                        <b-col></b-col>
                        <b-col cols="11">
                            <b-row>
                                <b-col>
                                    <router-link to="?page=store">
                                        <b-button pill variant="success" class="mr-3" @click="ItemAddRow();">＋新規作成
                                        </b-button>
                                    </router-link>
                                </b-col>
                                <b-col class="text-right">
                                    <b-button pill href="/category-page">カテゴリ一覧へ
                                    </b-button>
                                    <b-button pill href="/maker-page">メーカー一覧へ
                                    </b-button>
                                </b-col>
                                <!-- サイドバー -->
                                <b-col cols="1" class="text-right">
                                    <sc-menu v-if="modeName!='mw'"></sc-menu>
                                </b-col>
                            </b-row>
                        </b-col>
                        <b-col></b-col>
                    </b-row>
                </b-card>

                <!-- 空行 -->
                <b-row class="mb-5"></b-row>
                <b-row class="mb-5"></b-row>

                <b-row class="mt-1">
                    <b-col></b-col>
                    <b-col cols="11">
                        <b-card border-variant="white" class="mb-3 text-center" header="商品一覧"
                            header-border-variant="light">
                            <b-row>
                                <b-col sm>
                                    <b-form-group sm label-cols="2" label-size="sm" label-align="center" label="検索"
                                        label-for="searchItemWord">
                                        <b-form-input v-model="searchItemWord" id="searchItemWord" size="sm">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="6" label-cols-lg="6" label-size="sm" label="カテゴリ"
                                        label-for="createdAt">
                                        <b-form-select v-model="searchItemSelectCategory" :options="categories"
                                            size="sm">
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="6" label-cols-lg="6" label-size="sm" label="メーカー"
                                        label-for="createdAt">
                                        <b-form-select v-model="searchItemSelectMaker" :options="makers" size="sm">
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row align-h="end">
                                <p class="mr-3">表示件数 {{itemsIndicateCount}}件</p>
                            </b-row>
                            <b-table responsive hover small id="itemtable" sort-by="ID" small label="Table Options"
                                :items=itemsIndicateIndex :fields="[
                          {  key: 'update', label: '' },
                          {  key: 'id', label: 'No.' },
                          {  key: 'itemName', label: '商品名' },
                          {  key: 'itemCode', label: '商品コード' },
                          {  key: 'category', label: 'カテゴリ' },
                          {  key: 'maker', label: 'メーカー' },
                          {  key: 'unit', label: '単位' },
                          {  key: 'basePrice', label: '単価' },
                          {  key: 'baseCost', label: '原価単価' },
                          {  key: 'memo', label: 'メモ' },
                        ]" :tbody-tr-class="rowClass">
                                <template v-slot:cell(update)="data">
                                    <router-link to="?page=show">
                                        <b-button variant="info" @click="selectItem(data.item);"><i
                                                class="fas fa-edit"></i>
                                        </b-button>
                                    </router-link>
                                </template>
                            </b-table>
                        </b-card>
                    </b-col>
                    <b-col></b-col>
                </b-row>
            </div>

            <!-- 新規作成・詳細(更新)ページ -->
            <div v-if="pageName=='show' || pageName=='store'">

                <b-row class="mt-2">
                    <b-col></b-col>
                    <!--- 本体 -->
                    <b-col cols=11>
                        <div class="text-right">
                            <span class="mr-2">登録日:{{formatDate(item.createdAt)}}</span>
                            <span class="mr-2">更新日:{{formatDate(item.updatedAt)}}</span>
                        </div>
                        <b-card border-variant="white" class="mb-3 text-center" header="商品入力"
                            header-border-variant="light">
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="商品名"
                                        label-for="itemName">
                                        <b-form-input v-model="item.itemName" id="itemName" size="sm"></b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="商品コード"
                                        label-for="itemCode">
                                        <b-form-input v-model="item.itemCode" id="itemCode" size="sm"></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="カテゴリ"
                                        label-for="category">
                                        <b-form-input list="list-category" v-model="item.category" size="sm"
                                            autocomplete="off"></b-form-input>
                                        <datalist id="list-category">
                                            <option v-for="category in categories">{{category}}</option>
                                        </datalist>
                                        <!-- 
                                        <b-form-select v-model="item.category" :options="categories" size="sm">
                                        </b-form-select>
                                        -->
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="メーカー">
                                        <b-form-input list="list-maker" v-model="item.maker" size="sm"
                                            autocomplete="off"></b-form-input>
                                        <datalist id="list-maker">
                                            <option v-for="maker in makers">{{maker}}</option>
                                        </datalist>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="単位"
                                        label-for="unit">
                                        <b-form-input list="list-unit" v-model="item.unit" size="sm" autocomplete="off">
                                        </b-form-input>
                                        <datalist id="list-unit">
                                            <option v-for="unit in units">{{unit}}</option>
                                        </datalist>
                                    </b-form-group>
                                    <!--
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="単位"
                                        label-for="unit">
                                        <v-select  taggable push-tags  :options="units" size="sm">
                                            <template #no-options="{ search, searching, loading }">
                                                This is the no options slot.
                                            </template>
                                        </v-select>
                                    </b-form-group>
                                    -->
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="型式"
                                        label-for="model">
                                        <b-form-input v-model="item.model" id="model" size="sm"></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="単価"
                                        label-for="basePrice">
                                        <b-form-input v-model="item.basePrice" id="basePrice" size="sm" type="number">
                                        </b-form-input>
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="単価原価"
                                        label-for="baseCost">
                                        <b-form-input v-model="item.baseCost" id="baseCost" size="sm" type="number">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="メモ"
                                        label-for="メモ">
                                        <b-form-textarea v-model="item.memo" size="sm" rows="6"></b-form-textarea>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="アップロード"
                                        label-for="upform">
                                        <b-form @submit="uploadFile" id="upform" inline>
                                            <b-input-group block>
                                                <b-form-file v-model="form.file" browse-text="+"
                                                    placeholder="クリックまたはドロップ..." drop-placeholder="ここにドロップ...">
                                                </b-form-file>
                                                <b-button pill type="submit" class="ml-3">確定</b-button>
                                            </b-input-group>
                                        </b-form>
                                    </b-form-group>
                                    <b-row>
                                        <b-col md="2">
                                            <b-button pill @click="deleteFiles(item.itemCode)" class="mr-2 mb-3" >
                                                <i class="fas fa-trash-alt"></i>
                                            </b-button>
                                            <b-button pill v-if="uploadListMode=='list'" @click="uploadListMode='card'"
                                                class="mr-2 mb-3" >
                                                card</b-button>
                                            <b-button pill v-if="uploadListMode=='card'" @click="uploadListMode='list'"
                                                class="mr-2 mb-3" >
                                                list</b-button>
                                        </b-col>
                                        <b-col>
                                            <template v-if="uploadListMode=='list'">
                                                <b-table-simple hover small caption-top responsive class="box">
                                                    <template v-for="f in dicFiles">
                                                        <b-tr>
                                                            <b-td width="5%">
                                                                <input type="checkbox" v-model="f.isSelect" size="sm">
                                                            </b-td>
                                                            <b-td width="15%">
                                                                <div @click="selectImgUrl=f.url">
                                                                    <b-img :src="f.urlThumb" width="90" fluid></b-img>
                                                                </div>
                                                            </b-td>
                                                            <b-td class="ml-5">{{f.filename}}</b-td>
                                                        </b-tr>
                                                    </template>
                                                </b-table-simple>
                                            </template>
                                            <template v-if="uploadListMode=='card'">
                                                <div class="file-card box">
                                                    <template v-for="f in dicFiles">
                                                        <b-card border-variant="light">
                                                            <b-img :src="'../'+f.thumbPath" width="80" fluid></b-img>
                                                            <input type="checkbox" v-model="f.isSelect"
                                                                class="image-in-check">
                                                        </b-card>
                                                    </template>
                                                </div>
                                            </template>
                                        </b-col>
                                    </b-row>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col sm>
                                </b-col>
                            </b-row>


                        </b-card>

                    </b-col> <!-- 本体 -->
                    <b-col></b-col>

                </b-row>
                <!-- iframe用コミュニケーション変数-->
                <input type="hidden" v-model="countChanged" id="countChanged">

            </div>
            <!-- 空行 -->
            <b-row class="mb-5"></b-row>
            <b-row class="mb-5"></b-row>
            <b-row class="mb-5"></b-row>

            <!-- 更新・取消ボタンのフッター -->
            <b-card v-if="pageName=='show' || pageName=='store'" bg-variant="dark" text-variant="white"
                class="fixed-bottom footer">
                <b-row>
                    <b-col>
                        <b-button @click="checkChange">＜</b-button>
                    </b-col>
                    <b-col class="text-right">
                        <b-button pill variant="info" @click="modalShow(item,'upsertModal');" id="showUpsertModal">適用
                        </b-button>
                        <b-button pill size="lg" variant="info" @click="alert('印刷しました。')"><i class="fas fa-print"></i>
                        </b-button>
                        <b-button pill size="lg" variant="danger" @click="modalShow(item,'deleteModal');">
                            <i class="fas fa-trash-alt"></i>
                        </b-button>
                    </b-col>
                </b-row>
            </b-card>

            <!-- 保存モーダル -->
            <div>
                <select-modal modal-name='upsertModal' modal-message='保存しますか？'
                    @selected="upsertModalProcess($event);" />
            </div>

            <!-- 削除モーダル -->
            <div>
                <select-modal modal-name='deleteModal' modal-message='削除しますか？'
                    @selected="deleteModalProcess($event);" />
            </div>


        </div>

        <script>
            Vue.component('v-select', VueSelect.VueSelect);
            const router = new VueRouter({
            })

            var app = new Vue({
                el: '#app',
                data: {
                    searchItemWord: '',
                    searchItemSelectCategory: '',
                    searchItemSelectMaker: '',
                    itemsIndicateCount: 0,
                    items: [],               //全件item
                    item: [],                //選択中のitem
                    units: [],
                    categories: [],
                    makers: [],
                    fileId: '', //upload用ID
                    dicFiles: [],
                    form: {
                        file: '',
                        fileId: ''
                    },
                    uploadListMode: 'card', //list,card
                    countChanged: 0

                },
                methods: {
                    // ---Items---
                    getItems: async function () {
                        self = this;
                        await axios.get("/items")
                            .then(function (response) {
                                console.log(response);
                                self.items = response.data;
                            });
                    },
                    bulkUpsert: async function(item) {
                        if (!item.id) {
                            await this.insertItem(item);
                        }
                        else {
                            await this.updateItem(item);
                        }
                    },
                    insertItem: async function (item) {
                        self = this;
                        await axios.post("/item", item)
                            .then(function (response) {
                                Vue.set(self.item, 'id', response.data.id)
                                self.getItems();
                                self.item.isInsert = false;
                            });
                    },
                    updateItem: async function (item) {
                        self = this;
                        await axios.put("/item/" + item.id, item)
                            .then(function (response) {
                                self.getItems();
                                self.countChanged = 0;
                                console.log(response);
                            });
                    },
                    deleteItem: async function (item) {
                        self = this;
                        await axios.delete("/item/" + item.id)
                            .then(function (response) {
                                console.log(response);
                                self.item = '';
                                self.getItems();
                            });
                    },
                    ItemAddRow: function () {
                        self = this;
                        self.items.push({
                            isInsert: true,
                        });
                        self.item = self.items.slice(-1)[0];
                        localStorage.setItem('item', JSON.stringify(self.item))
                        this.countChanged = 0;
                        this.clearFileList();
                    },
                    selectItem: function (item) {
                        this.item = item;
                        console.log(this.item);
                        localStorage.setItem('item', JSON.stringify(item))
                        this.getFileList(item.itemCode);
                        this.countChanged = 0;
                    },
                    getItem: async function (item) {
                        self = this;
                        await axios.get("/item/" + item.id)
                            .then(function (response) {
                                console.log(response);
                                for (const [key, value] of Object.entries(response.data)) {
                                    console.log(key, value);
                                    self.$set(self.item, key, value);
                                }
                            });
                        this.getFileList(item.itemCode);

                    },
                    rowClass: function (item, type) {
                        if (!item || type !== 'row') return
                        if (!item.id) return "d-none";
                    },
                    getUnits: async function () {
                        self = this;
                        await axios.get("/units")
                            .then(function (response) {
                                console.log(response);
                                self.units = response.data.map(item => item['unitName']);
                            });
                    },
                    getCategories: async function () {
                        self = this;
                        await axios.get('/categories')
                            .then(function (response) {
                                console.log(response);
                                self.categories = response.data.map(item => item['categoryName'])
                            });
                    },
                    getMakers: async function () {
                        self = this;
                        await axios.get('/makers')
                            .then(function (response) {
                                console.log(response);
                                self.makers = response.data.map(item => item['makerName'])
                            });
                    },
                    modalShow: function (item, modalName) {
                        this.item = item;
                        console.log(this.item);
                        this.$bvModal.show(modalName);
                    },
                    deleteModalProcess(result) {
                        this.$bvModal.hide('deleteModal');
                        if (result === true) {
                            this.deleteItem(this.item);
                        }
                    },
                    upsertModalProcess(result) {
                        this.$bvModal.hide('upsertModal');
                        if (result === true) {
                            this.bulkUpsert(this.item);
                        }
                    },
                    formatDate(date) {
                        if (!!date) return moment(date).format("YYYY/MM/DD");
                    },
                    getFileList: async function (fid) {
                        self = this;
                        url = "list-files/s/upload/" + fid;
                        await axios.get(url)
                            .then(function (response) {
                                console.log(response.data);
                                self.dicFiles = response.data;
                            })
                    },
                    clearFileList: function(){
                        this.dicFiles = {};
                    },
                    uploadFile: function (event) {
                        self = this;
                        event.preventDefault();
                        //let files = event.target.files;
                        const formData = new FormData();
                        formData.append('file', self.form.file);
                        formData.append('fileId', self.item.itemCode);
                        axios.post("upload-files/s/upload", formData)
                            .then((res) => {
                                self.getFileList(self.item.itemCode);
                            })
                            .catch((err) => {
                                console.log(err)
                            });
                    },
                    deleteFiles: async function (fid) {
                        self = this;
                        url = "delete-files/s";
                        await axios.delete(url, {
                            data: self.dicFiles
                        }
                        ).then(function (response) {
                            console.log(response.data);
                            self.getFileList(fid);
                        });
                    },
                    //---------変更があったかどうかをチェク。アラート ---------

                    checkChange: async function () {
                        isUpdate = false;
                        if (this.countChanged) {
                            await this.$bvModal.msgBoxConfirm('未更新のデータがあります。', {
                                okVariant: 'primary',
                                okTitle: '保存して戻る',
                                cancelVariant: 'danger',
                                cancelTitle: '保存しないで戻る',
                            }).then(value => {
                                if (value) isUpdate = true;
                            });
                            if (isUpdate) await this.bulkUpsert(this.item);
                            this.getItems();
                            this.countChanged = 0;
                        }
                        this.clearFileList();
                        router.push({ path: "?page=index" });
                    }

                },
                mounted: function () {
                    this.item = JSON.parse(localStorage.getItem('item'));
                    this.getFileList(this.item.itemCode);
                    this.getItems();
                    this.getUnits();
                    this.getCategories();
                    this.getMakers();
                    document.querySelector('title').textContent = '商品管理';
                },
                router,
                computed: {
                    pageName() {
                        if (this.$route.query.page == undefined) return 'index';
                        return this.$route.query.page;
                    },
                    modeName() {
                        //return this.$route.query.mode;
                        return localStorage.getItem('wMode');
                    },
                    itemsIndicateIndex: function () {
                        let items = this.items
                        items = items.filter(item =>
                            (searchFilter(item.itemName, this.searchItemWord) ||
                                searchFilter(item.itemCode, this.searchItemWord) ||
                                searchFilter(item.model, this.searchItemWord)) &&
                            searchFilter(item.category, this.searchItemSelectCategory) &&
                            searchFilter(item.maker, this.searchItemSelectMaker)
                        )
                        this.itemsIndicateCount = items.length;
                        return items;
                    },
                },
                watch: {
                    item: {
                        handler: function (val, oldval) {
                            if(this.pageName=='show' || this.pageName=='store'){
                                this.countChanged += 1;
                            }
                        },
                        deep: true
                    }
                }
            })

            function searchFilter(searchTarget, searchWord) {
                if ((searchTarget === null && searchWord === '') || (searchTarget !== null && searchWord === '')) {
                    return true;
                }
                if (searchTarget === null && searchWord !== '') {
                    return false;
                }
                return searchTarget.includes(searchWord);
            };

        </script>

        <% endblock %>