<% extends "head.html" %>
    <% block content %>
        <style>
            .bg {
                background-color: #e9ecef;
            }

            [v-cloak] {
                display: none;
            }
        </style>

        <!--   mock up here -->
        <div id="app">
            <div id="login">
                <div class="container pt-5">
                    <div id="login-row" class="row justify-content-center align-items-center">
                        <div id="login-column" class="col-md-6">
                            <div id="login-box" class="col-md-12">
                                <form id="login-form" class="form" method="post">
                                    <h3 class="text-center text-info">ログイン</h3>
                                    <div class="form-group">
                                        <label for="username" class="text-info">ユーザID:</label><br>
                                        <input type="text" name="userId" id="userId" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="text-info">パスワード:</label><br>
                                        <input type="password" name="password" id="password" class="form-control">
                                    </div>
                                    <div class="form-group pt-3">
                                        <input type="submit" name="submit" class="btn btn-primary btn-md"
                                            value="submit">
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    userID: '',
                    password: '',
                    userInfo: [
                        { userID: 'monomonosu', password: '01234', role: 'administrator', name: 'モノモノス' },
                        { userID: 'ono', password: '01234', role: 'operator', name: 'ガマ仙人' },
                        { userID: 'ohira', password: '01234', role: 'administrator', name: '大平' },
                    ],
                },
                methods: {
                    checkUser: function (userID, password) {
                        const targetUser = this.userInfo.find((v) => v.userID === userID);
                        console.log(targetUser);
                        if (targetUser && targetUser.password === password) {
                            alert(targetUser.role + "権限で" + targetUser.name + "さんがログインしました")
                        }
                        else {
                            alert("ログインエラー")
                        }

                    }
                }
            })
        </script>
        <% endblock %>