<% extends "head.html" %>
    <% block content %>
        <style>
            /* ----- ヘッダー追従 ----- */
            #global-nav {
                width: 100%;
                z-index: 1;
            }

            #global-nav div {
                background-color: rgba(255, 255, 255, 0.4);
            }

            #global-nav.m_fixed {
                left: 0;
                position: fixed;
                top: 0;
            }

            #global-nav .inner {
                padding-bottom: 0;
                padding-top: 0;
                margin: 0 auto;
                max-width: 100%;
                padding: 80px 0;
                width: 768px;
            }

            .global-list {
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;
            }

            .global-item {
                border-left: 1px solid #fff;
                width: 20%;
            }

            .global-item:last-child {
                border-right: 1px solid #fff;
                margin-right: 0;
            }

            .global-item a {
                background: #16244e;
                color: #fff;
                display: block;
                line-height: 50px;
                text-align: center;
                text-decoration: none;
                opacity: 0.5;
            }
        </style>

        <div id="app" v-cloak>
            <b-row>
                <b-col></b-col>
                <b-col cols="10">
                    <b-row class="bg pt-2 pb-2">
                        <b-col class="h5 mt-3">メモ入力</b-col>
                        <b-col class="text-right mr-5 mt-3">
                            <!-- サイドバー -->
                            <sc-menu></sc-menu>
                        </b-col>
                    </b-row>
                </b-col>
                <b-col></b-col>
            </b-row>
            <nav id="global-nav">
                <b-card v-if="pageName=='index'">
                    <b-row>
                        <b-col></b-col>
                        <b-col cols="10">
                            <b-row>
                                <b-col>
                                    <router-link to="?page=store">
                                        <b-button pill variant="success" class="mr-3" @click="MemoAddRow();">＋新規作成
                                        </b-button>
                                    </router-link>
                                </b-col>
                            </b-row>
                        </b-col>
                        <b-col></b-col>
                    </b-row>
                </b-card>
            </nav>

            <!-- 一覧表示 -->
            <div v-if="pageName=='index'">
                <b-row class="mt-1">
                    <b-col></b-col>
                    <b-col cols="10">
                        <b-card border-variant="white" class="mb-3 text-center" header="メモ一覧"
                            header-border-variant="light">
                            <b-table responsive hover small id="memotable" sort-by="ID" small label="Table Options"
                                :items=memos :fields="[
                          {  key: 'update', label: '' },
                          {  key: 'id', label: 'No.' },
                          {  key: 'title', label: '件名' },
                          {  key: 'content', label: '内容' },
                          {  key: 'delete', label: '' },
                        ]" :tbody-tr-class="rowClass">
                                <template v-slot:cell(update)="data">
                                    <router-link to="?page=show">
                                        <b-button variant="info" @click="selectMemo(data.item);"><i
                                                class="fas fa-edit"></i>
                                        </b-button>
                                    </router-link>
                                </template>
                                <template v-slot:cell(delete)="data">
                                    <b-button variant="danger" @click="modalShow(data.item,'deleteModal');">
                                        <i class="fas fa-trash-alt"></i>
                                    </b-button>
                                </template>
                            </b-table>
                        </b-card>
                    </b-col>
                    <b-col></b-col>
                </b-row>
                <!-- 削除モーダル -->
                <select-modal modal-name='deleteModal' modal-message='削除しますか？'
                    @selected="deleteModalProcess($event);" />
            </div>

            <!-- 新規作成・詳細(更新)ページ -->
            <div v-if="pageName=='show' || pageName=='store'">
                <b-row class="mt-5">
                    <b-col></b-col>
                    <!--- 本体 -->
                    <b-col cols=10>
                        <router-link to="?page=index">
                            <b-button @click="getMemos();">＜</b-button>
                        </router-link>
                        <b-card border-variant="white" class="mb-3 text-center" header="メモ入力"
                            header-border-variant="light">
                            <b-row>
                                <b-col>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="件名"
                                        label-for="title">
                                        <b-form-input v-model="memo.title" id="title" size="sm">
                                        </b-form-input>
                                    </b-form-group>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="内容"
                                        label-for="content">
                                        <b-form-textarea v-model="memo.content" size="sm" rows="10" max-rows="20">
                                        </b-form-textarea>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                        </b-card>

                    </b-col> <!-- 本体 -->
                    <b-col></b-col>

                </b-row>

            </div>

            <!-- 空行 -->
            <b-row class="mb-5"></b-row>
            <b-row class="mb-5"></b-row>
            <b-row class="mb-5"></b-row>

            <!-- 更新・取消ボタンのフッター -->
            <b-card v-if="pageName=='show' || pageName=='store'" bg-variant="dark" text-variant="white"
                class="fixed-bottom footer">
                <div class="d-flex justify-content-end">
                    <b-button pill variant="info" class="mr-3" @click="modalShow(memo,'upsertModal');"
                        id="showUpsertModal">
                        適用
                    </b-button>
                    <b-button pill variant="info" @click="alert('印刷しました。')"><i class="fas fa-print"></i></b-button>
                </div>
            </b-card>

            <!-- 保存モーダル -->
            <select-modal modal-name='upsertModal' modal-message='保存しますか？' @selected="upsertModalProcess($event);" />

        </div>

        <script>
            const router = new VueRouter({
            })

            var app = new Vue({
                el: '#app',
                data: {
                    memos: [],               //全件memo
                    memo: [],                //選択中のmemo
                },
                methods: {
                    // ---Memos---
                    getMemos: async function () {
                        self = this;
                        await axios.get("/memos")
                            .then(function (response) {
                                console.log(response);
                                self.memos = response.data;
                            });
                    },
                    bulkUpsert(item) {
                        if (!item.id) {
                            this.insertMemo(item);
                        }
                        else {
                            this.updateMemo(item);
                        }
                    },
                    insertMemo: async function (item) {
                        self = this;
                        await axios.post("/memo", item)
                            .then(function (response) {
                                Vue.set(self.memo, 'id', response.data.id)
                                self.getMemos();
                                self.memo.isInsert = false;
                            });
                    },
                    updateMemo: async function (item) {
                        self = this;
                        await axios.put("/memo/" + item.id, item)
                            .then(function (response) {
                                self.getMemos();
                                console.log(response);
                            });
                    },
                    deleteMemo: async function (item) {
                        self = this;
                        await axios.delete("/memo/" + item.id)
                            .then(function (response) {
                                console.log(response);
                                self.memo = '';
                                self.getMemos();
                            });
                    },
                    MemoAddRow: function () {
                        self = this;
                        self.memos.push({
                            isInsert: true,
                        });
                        self.memo = self.memos.slice(-1)[0];
                        localStorage.setItem('memo', JSON.stringify(self.memo))
                    },
                    selectMemo: function (item) {
                        this.memo = item;
                        console.log(this.memo);
                        localStorage.setItem('memo', JSON.stringify(item))
                    },
                    getMemo: async function (item) {
                        self = this;
                        await axios.get("/memo/" + item.id)
                            .then(function (response) {
                                console.log(response);
                                for (const [key, value] of Object.entries(response.data)) {
                                    console.log(key, value);
                                    self.$set(self.memo, key, value);
                                }
                            });
                    },
                    rowClass: function (item, type) {
                        if (!item || type !== 'row') return
                        if (!item.id) return "d-none";
                    },
                    modalShow: function (item, modalName) {
                        this.memo = item;
                        console.log(this.memo);
                        this.$bvModal.show(modalName);
                    },
                    deleteModalProcess(result) {
                        this.$bvModal.hide('deleteModal');
                        if (result === true) {
                            this.deleteMemo(this.memo);
                        }
                    },
                    upsertModalProcess(result) {
                        this.$bvModal.hide('upsertModal');
                        if (result === true) {
                            this.bulkUpsert(this.memo);
                        }
                    },
                },
                mounted: function () {
                    this.memo = JSON.parse(localStorage.getItem('memo'));
                    this.getMemos();
                    document.querySelector('title').textContent = 'メモ管理';
                },
                router,
                computed: {
                    pageName() {
                        if (this.$route.query.page == undefined) return 'index';
                        return this.$route.query.page;
                    },
                }
            })

            // ヘッダー追従
            var navPos = jQuery('#global-nav').offset().top; // グローバルメニューの位置
            var navHeight = jQuery('#global-nav').outerHeight(); // グローバルメニューの高さ
            jQuery(window).on('scroll', function () {
                if (jQuery(this).scrollTop() > navPos) {
                    jQuery('body').css('padding-top', navHeight);
                    jQuery('#global-nav').addClass('m_fixed');
                } else {
                    jQuery('body').css('padding-top', 0);
                    jQuery('#global-nav').removeClass('m_fixed');
                }
            });

        </script>
        <% endblock %>