<% extends "head.html" %>
    <% block content %>
        <div id="app" v-cloak>
            <!-- 一覧表示 -->
            <div v-if="pageName=='index'">
                <b-card class="fixed-top header" style="background: rgba(255,255,255,0.5);">
                    <b-row>
                        <b-col></b-col>
                        <b-col cols="11">
                            <b-row>
                                <b-col>
                                    <router-link to="?page=store">
                                        <b-button pill variant="success" class="mr-3" @click="MemoAddRow();">＋新規作成
                                        </b-button>
                                    </router-link>
                                </b-col>
                                <b-col class="text-right">
                                    <sc-menu v-if="modeName!='mw'"></sc-menu>
                                </b-col>
                            </b-row>
                        </b-col>
                        <b-col></b-col>
                    </b-row>
                </b-card>

                <!-- 空行 -->
                <b-row class="mb-5"></b-row>
                <b-row class="mb-5"></b-row>

                <b-row class="mt-1">
                    <b-col></b-col>
                    <b-col cols="11">
                        <b-card border-variant="white" class="mb-3 text-center" header="メモ一覧"
                            header-border-variant="light">
                            <b-table responsive hover small id="memotable" sort-by="ID" small label="Table Options"
                                :items=memos :per-page="perPage" :current-page="currentPage" :fields="[
                          {  key: 'update', label: '' },
                          {  key: 'title', label: '件名' },
                          {  key: 'manager', label: '担当者' },
                          {  key: 'content', label: '内容' },
                          {  key: 'createdAt', label: '作成日時' },
                        ]" :tbody-tr-class="rowClass">
                                <template v-slot:cell(update)="data">
                                    <router-link to="?page=show">
                                        <b-button variant="info" @click="selectMemo(data.item);"><i
                                                class="fas fa-edit"></i>
                                        </b-button>
                                    </router-link>
                                </template>
                                <template v-slot:cell(createdAt)="data">
                                    <p class="text-left pl-2" id="createdAt">{{formatDate(data.item.createdAt)}}</p>
                                </template>
                            </b-table>

                            <b-pagination v-model="currentPage" :total-rows="currentPageRows" :per-page="perPage"
                                aria-controls="memotable"></b-pagination>

                        </b-card>
                    </b-col>
                    <b-col></b-col>
                </b-row>
            </div>

            <!-- 新規作成・詳細(更新)ページ -->
            <div v-if="pageName=='show' || pageName=='store'">
                <b-row class="mt-5">
                    <b-col></b-col>
                    <!--- 本体 -->
                    <b-col cols=11>
                        <b-card border-variant="white" class="mb-3 text-center" header="メモ入力"
                            header-border-variant="light">
                            <b-row>
                                <b-col cols="6"></b-col>
                                <b-col sm>
                                    <b-form-group label-cols="6" label-cols-lg="6" label-size="sm" label="登録日"
                                        label-for="createdAt">
                                        <p class="text-left pl-2" id="createdAt">{{formatDate(memo.createdAt)}}</p>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="6" label-cols-lg="6" label-size="sm" label="更新日"
                                        label-for="updatedAt">
                                        <p class="text-left pl-2" id="updatedAt">{{formatDate(memo.updatedAt)}}</p>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="件名"
                                        label-for="title">
                                        <b-form-input v-model="memo.title" id="title" size="sm">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="担当者"
                                        label-for="manager">
                                        <b-form-input v-model="memo.manager" id="manager" size="sm">
                                        </b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="内容"
                                        label-for="content">
                                        <b-form-textarea v-model="memo.content" size="sm" rows="10" max-rows="20">
                                        </b-form-textarea>
                                    </b-form-group>
                                </b-col>
                                <b-col sm></b-col>
                            </b-row>
                        </b-card>

                    </b-col> <!-- 本体 -->
                    <b-col></b-col>

                </b-row>

            </div>

            <!-- 空行 -->
            <b-row class="mb-5"></b-row>
            <b-row class="mb-5"></b-row>
            <b-row class="mb-5"></b-row>

            <!-- 更新・取消ボタンのフッター -->
            <b-card v-if="pageName=='show' || pageName=='store'" bg-variant="dark" text-variant="white"
                class="fixed-bottom footer">
                <b-row>
                    <b-col>
                        <router-link to="?page=index">
                            <b-button @click="getMemos();">＜</b-button>
                        </router-link>
                    </b-col>
                    <b-col class="text-right">
                        <b-button pill variant="info" @click="modalShow(memo,'upsertModal');" id="showUpsertModal">適用
                        </b-button>
                        <b-button pill size="lg" variant="info" @click="alert('印刷しました。')"><i class="fas fa-print"></i>
                        </b-button>
                        <b-button pill size="lg" variant="danger" @click="modalShow(memo,'deleteModal');">
                            <i class="fas fa-trash-alt"></i>
                        </b-button>
                    </b-col>
                </b-row>
            </b-card>

            <!-- 保存モーダル -->
            <div>
                <select-modal modal-name='upsertModal' modal-message='保存しますか？'
                    @selected="upsertModalProcess($event);" />
            </div>

            <!-- 削除モーダル -->
            <div>
                <select-modal modal-name='deleteModal' modal-message='削除しますか？'
                    @selected="deleteModalProcess($event);" />
            </div>

        </div>

        <script>
            const router = new VueRouter({
            })

            var app = new Vue({
                el: '#app',
                data: {
                    memos: [],               //全件memo
                    memo: [],                //選択中のmemo
                    perPage: 20,                //ページネーション
                    currentPage: 1,             //ページネーション
                },
                methods: {
                    // ---Memos---
                    getMemos: async function () {
                        self = this;
                        await axios.get("/memos")
                            .then(function (response) {
                                console.log(response);
                                self.memos = response.data;
                            });
                    },
                    bulkUpsert(item) {
                        if (!item.id) {
                            this.insertMemo(item);
                        }
                        else {
                            this.updateMemo(item);
                        }
                    },
                    insertMemo: async function (item) {
                        self = this;
                        await axios.post("/memo", item)
                            .then(function (response) {
                                Vue.set(self.memo, 'id', response.data.id)
                                self.getMemos();
                                self.memo.isInsert = false;
                            });
                    },
                    updateMemo: async function (item) {
                        self = this;
                        await axios.put("/memo/" + item.id, item)
                            .then(function (response) {
                                self.getMemos();
                                console.log(response);
                            });
                    },
                    deleteMemo: async function (item) {
                        self = this;
                        await axios.delete("/memo/" + item.id)
                            .then(function (response) {
                                console.log(response);
                                self.memo = '';
                                self.getMemos();
                            });
                    },
                    MemoAddRow: function () {
                        self = this;
                        self.memos.push({
                            isInsert: true,
                        });
                        self.memo = self.memos.slice(-1)[0];
                        localStorage.setItem('memo', JSON.stringify(self.memo))
                    },
                    selectMemo: function (item) {
                        this.memo = item;
                        console.log(this.memo);
                        localStorage.setItem('memo', JSON.stringify(item))
                    },
                    getMemo: async function (item) {
                        self = this;
                        await axios.get("/memo/" + item.id)
                            .then(function (response) {
                                console.log(response);
                                for (const [key, value] of Object.entries(response.data)) {
                                    console.log(key, value);
                                    self.$set(self.memo, key, value);
                                }
                            });
                    },
                    rowClass: function (item, type) {
                        if (!item || type !== 'row') return
                        if (!item.id) return "d-none";
                    },
                    modalShow: function (item, modalName) {
                        this.memo = item;
                        console.log(this.memo);
                        this.$bvModal.show(modalName);
                    },
                    deleteModalProcess(result) {
                        this.$bvModal.hide('deleteModal');
                        if (result === true) {
                            this.deleteMemo(this.memo);
                        }
                    },
                    upsertModalProcess(result) {
                        this.$bvModal.hide('upsertModal');
                        if (result === true) {
                            this.bulkUpsert(this.memo);
                        }
                    },
                    formatDate(date) {
                        if (!!date) return moment(date).format("YYYY/MM/DD");
                    },
                },
                mounted: function () {
                    this.memo = JSON.parse(localStorage.getItem('memo'));
                    this.getMemos();
                    document.querySelector('title').textContent = 'メモ管理';
                },
                router,
                computed: {
                    pageName() {
                        if (this.$route.query.page == undefined) return 'index';
                        return this.$route.query.page;
                    },
                    modeName() {
                        //return this.$route.query.mode;
                        return localStorage.getItem('wMode');
                    },
                    // ページネーション
                    currentPageRows() {
                        return this.memos.length;
                    },
                }
            })

        </script>
        <% endblock %>