<% extends "head.html" %>
    <% block content %>
        <style>
            .sm-mode {
                display: none;
            }

            .pc-mode {
                display: block;
            }

            @media screen and (max-width:690px) {
                .sm-mode {
                    display: block;
                }

                .pc-mode {
                    display: none;
                }
            }

            .card-header {
                background-color: #ccecf1;
                font-size: 18px;
            }

            #usertable td {
                vertical-align: middle;
            }
        </style>

        <div id="app" v-cloak>
            <!-- 一覧表示 -->
            <div v-if="pageName=='index'">
                <b-card class="fixed-top header" style="background: rgba(255,255,255,0.5);">
                    <b-row>
                        <b-col></b-col>
                        <b-col cols="11">
                            <b-row>
                                <b-col>
                                    <router-link to="?page=store">
                                        <b-button pill variant="success" class="mr-3" @click="UserAddRow();">＋新規作成
                                        </b-button>
                                    </router-link>
                                </b-col>
                                <!-- サイドバー -->
                                <b-col cols="1" class="text-right">
                                    <sc-menu v-if="modeName!='mw'"></sc-menu>
                                </b-col>
                            </b-row>
                        </b-col>
                        <b-col></b-col>
                    </b-row>
                </b-card>

                <!-- 空行 -->
                <b-row class="mb-5"></b-row>
                <b-row class="mb-5"></b-row>

                <b-row class="mt-1">
                    <b-col></b-col>
                    <b-col cols="11">
                        <b-card border-variant="white" class="mb-3 text-center" header="ユーザー一覧"
                            header-border-variant="light">
                            <b-table responsive hover small id="usertable" sort-by="ID" small label="Table Options"
                                :items=users :fields="[
                          {  key: 'update', label: '' },
                          {  key: 'id', label: 'No.' },
                          {  key: 'name', label: 'ユーザー名' },
                          {  key: 'password', label: 'パスワード' },
                          {  key: 'group', label: 'グループ' },
                          {  key: 'role', label: '権限' },
                        ]" :tbody-tr-class="rowClass">
                                <template v-slot:cell(update)="data">
                                    <router-link to="?page=show">
                                        <b-button variant="primary" @click="selectUser(data.item);"><i
                                                class="fas fa-edit"></i>
                                        </b-button>
                                    </router-link>
                                </template>
                                <template v-slot:cell(password)="data">
                                    {{ hidePassword(data.item.password) }}
                                </template>
                            </b-table>
                        </b-card>
                    </b-col>
                    <b-col></b-col>
                </b-row>
            </div>

            <!-- 新規作成・詳細(更新)ページ -->
            <div v-if="pageName=='show' || pageName=='store'">
                <b-row class="mt-2">
                    <b-col></b-col>
                    <!--- 本体 -->
                    <b-col cols=11>
                        <div class="text-right">
                            <span class="mr-2">登録日:{{formatDate(user.created_at)}}</span>
                            <span class="mr-2">更新日:{{formatDate(user.updated_at)}}</span>
                        </div>
                        <b-card border-variant="white" class="mb-3 text-center" header="ユーザー入力"
                            header-border-variant="light">

                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="ユーザー名"
                                        label-for="name" label-align="right">
                                        <b-form-input v-model="user.name" id="name" size="sm"></b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="パスワード"
                                        label-for="password" label-align="right">
                                        <b-form-input v-model="user.password" id="password" size="sm"></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="グループ"
                                        label-for="group" label-align="right">
                                        <b-form-input v-model="user.group" id="group" size="sm"></b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col sm>
                                    <b-form-group label-cols="4" label-cols-lg="2" label-size="sm" label="権限"
                                        label-for="role" label-align="right">
                                        <b-form-select v-model="user.role" size="sm" :options="[
                                        {  value: 'admin', text: 'admin' },
                                        {  value: 'user', text: 'user' },
                                        ]">
                                        </b-form-select>
                                    </b-form-group>
                                </b-col>
                            </b-row>

                        </b-card>

                    </b-col> <!-- 本体 -->
                    <b-col></b-col>

                </b-row>

            </div>
            <!-- 空行 -->
            <b-row class="mb-5"></b-row>
            <b-row class="mb-5"></b-row>
            <b-row class="mb-5"></b-row>

            <!-- 更新・取消ボタンのフッター -->
            <b-card bg-variant="dark" text-variant="white" class="fixed-bottom footer">
                <b-row v-if="pageName=='show' || pageName=='store'">
                    <b-col>
                        <router-link to="?page=index">
                            <b-button @click="getUsers();" v-b-tooltip.hover.top="'戻る'">＜</b-button>
                        </router-link>
                    </b-col>
                    <b-col class="text-right">
                        <b-button pill variant="primary" @click="modalShow(user,'upsertModal');"
                            v-b-tooltip.hover.top="'適用'">適用
                        </b-button>
                        <b-button pill size="lg" variant="primary" @click="alert('印刷しました。')"
                            v-b-tooltip.hover.top="'印刷'">
                            <i class="fas fa-print"></i>
                        </b-button>
                        <b-button pill size="lg" variant="danger" @click="modalShow(user,'deleteModal');"
                            v-b-tooltip.hover.top="'削除'">
                            <i class="fas fa-trash-alt"></i>
                        </b-button>
                    </b-col>
                </b-row>
                <b-row v-else>
                    <b-col class="pc-mode">
                        <b-button href="/setting-page">＜</b-button>
                        <b-button href="/user-page">ユーザー登録</b-button>
                        <b-button href="/unit-page">単位登録</b-button>
                        <b-button href="/dust-select-page">削除済み参照</b-button>
                    </b-col>
                    <b-col class="sm-mode">
                        <b-button href="/setting-page">
                            <b-icon icon="chevron-left"></b-icon>
                        </b-button>
                        <b-button href="/user-page" v-b-tooltip.hover.top="'ユーザー登録'">
                            <b-icon icon="person-plus-fill"></b-icon>
                        </b-button>
                        <b-button href="/unit-page" v-b-tooltip.hover.top="'単位登録'">
                            <b-icon icon="hammer"></i>
                        </b-button>
                        <b-button href="/dust-select-page" v-b-tooltip.hover.top="'削除済み参照'">
                            <b-icon icon="file-earmark-x"></b-icon>
                        </b-button>
                    </b-col>
                </b-row>
            </b-card>

            <!-- 保存モーダル -->
            <div>
                <select-modal modal-name='upsertModal' modal-message='保存しますか？'
                    @selected="upsertModalProcess($event);" />
            </div>

            <!-- 削除モーダル -->
            <div>
                <select-modal modal-name='deleteModal' modal-message='削除しますか？'
                    @selected="deleteModalProcess($event);" />
            </div>

        </div>

        <script>
            const router = new VueRouter({
            })

            var app = new Vue({
                el: '#app',
                data: {
                    users: [],               //全件user
                    user: [],                //選択中のuser
                },
                methods: {
                    // ---Items---
                    getUsers: async function () {
                        self = this;
                        await axios.get("/users")
                            .then(function (response) {
                                console.log(response);
                                self.users = response.data;
                            });
                    },
                    bulkUpsert(item) {
                        if (!item.id) {
                            this.insertUser(item);
                        }
                        else {
                            this.updateUser(item);
                        }
                    },
                    insertUser: async function (item) {
                        self = this;
                        await axios.post("/user", item)
                            .then(function (response) {
                                Vue.set(self.user, 'id', response.data.id)
                                self.getUsers();
                                self.user.isInsert = false;
                            });
                    },
                    updateUser: async function (item) {
                        self = this;
                        await axios.put("/user/" + item.id, item)
                            .then(function (response) {
                                self.getUsers();
                                console.log(response);
                            });
                    },
                    deleteUser: async function (item) {
                        self = this;
                        await axios.delete("/user/" + item.id)
                            .then(function (response) {
                                console.log(response);
                                self.user = '';
                                self.getUsers();
                            });
                    },
                    UserAddRow: function () {
                        self = this;
                        self.users.push({
                            isInsert: true,
                        });
                        self.user = self.users.slice(-1)[0];
                        localStorage.setItem('user', JSON.stringify(self.user))
                    },
                    selectUser: function (item) {
                        this.user = item;
                        console.log(this.user);
                        localStorage.setItem('user', JSON.stringify(item))
                    },
                    rowClass: function (item, type) {
                        if (!item || type !== 'row') return
                        if (!item.id) return "d-none";
                    },
                    modalShow: function (item, modalName) {
                        this.user = item;
                        console.log(this.user);
                        this.$bvModal.show(modalName);
                    },
                    deleteModalProcess(result) {
                        this.$bvModal.hide('deleteModal');
                        if (result === true) {
                            this.deleteUser(this.user);
                        }
                    },
                    upsertModalProcess(result) {
                        this.$bvModal.hide('upsertModal');
                        if (result === true) {
                            this.bulkUpsert(this.user);
                        }
                    },
                    formatDate(date) {
                        if (!!date) return moment(date).format("YYYY/MM/DD");
                    },
                    hidePassword(word) {
                        let password = String(word);
                        let hideWord = '';
                        for (let i = 0; i < password.length; i++) {
                            hideWord = hideWord + '●';
                        }
                        return hideWord;
                    },
                },
                mounted: function () {
                    this.user = JSON.parse(localStorage.getItem('user'));
                    this.getUsers();
                    document.querySelector('title').textContent = 'ユーザー管理';
                },
                router,
                computed: {
                    pageName() {
                        if (this.$route.query.page == undefined) return 'index';
                        return this.$route.query.page;
                    },
                    modeName() {
                        //return this.$route.query.mode;
                        return localStorage.getItem('wMode');
                    },
                }
            })

        </script>

        <% endblock %>